{% extends theme|add:"/base.html" %}
{% load humanize %}
{% load order_by_tag %}

{% block header %}
    <script type="text/javascript">
        window.onload = function() {
            init_select("name");
            init_select("ym");
        };
    </script>
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">なにをしたいのですか？</div>
        <form action="" method="get">
            <a href="javascript:show_dialog('order_replace_info')" class="button">註文書の置換文字列</a>
        </form>
    </div>
    <div id="mask" onclick="hide_dialog()" class="mask">
    </div>
    <div id="order_replace_info" class="dialog" style="width: 800px;">
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <th>{$ORDER_NO$}</th>
                <td>注文番号</td>
                <th>{$PUBLISH_DATE$}</th>
                <td>年月日</td>
            </tr>
            <tr>
                <th class="sep">{$AUTHOR_FIRST_NAME$}</th>
                <td class="sep" colspan="3">作成者</td>
            </tr>
            <tr>
                <th>{$SUBCONTRACTOR_NAME$}</th>
                <td colspan="3">下請け会社名</td>
            </tr>
            <tr>
                <th class="sep">{$SUBCONTRACTOR_MIDDLEMAN$}</th>
                <td class="sep">連絡窓口担当者（乙）</td>
                <th class="sep">{$SUBCONTRACTOR_MASTER$}</th>
                <td class="sep">委託業務責任者（乙）</td>
            </tr>
            <tr>
                <th>{$POST_CODE$}</th>
                <td>本社郵便番号</td>
                <th>{$TEL$}</th>
                <td>本社電話番号</td>
            </tr>
            <tr>
                <th>{$COMPANY_NAME$}</th>
                <td>会社名</td>
                <th>{$MASTER$}</th>
                <td>委託業務責任者（甲）</td>
            </tr>
            <tr>
                <th>{$ADDRESS1$}</th>
                <td>本社住所1</td>
                <th>{$ADDRESS2$}</th>
                <td>本社住所2</td>
            </tr>
            <tr>
                <th class="sep">{$MIDDLEMAN$}</th>
                <td class="sep" colspan="3">連絡窓口担当者（甲）</td>
            </tr>
            <tr>
                <th>{$PROJECT_NAME$}</th>
                <td>案件名称</td>
                <th>{$PROJECT_LEADER$}</th>
                <td>作業責任者</td>
            </tr>
            <tr>
                <th class="sep">{$START_DATE$}</th>
                <td class="sep">開発期間（開始）</td>
                <th class="sep">{$END_DATE$}</th>
                <td class="sep">開発期間（終了）</td>
            </tr>
            <tr>
                <th>{$ITEM_NAME$}</th>
                <td>協力社員名前</td>
                <th>{$ITEM_COST$}</th>
                <td>月額基本料金</td>
            </tr>
            <tr>
                <th>{$ITEM_MIN_HOUR$}</th>
                <td>基準時間（最小値）</td>
                <th>{$ITEM_MAX_HOUR$}</th>
                <td>基準時間（最大値）</td>
            </tr>
            <tr>
                <th>{$ITEM_PLUS_PER_HOUR$}</th>
                <td>超過単価</td>
                <th>{$ITEM_MINUS_PER_HOUR$}</th>
                <td>不足単価</td>
            </tr>
        </table>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>対象年月</th>
                <th>注文情報</th>
                <th>注文番号</th>
                <th>最後の作成日時</th>
                <th>作成者</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if order_month_list %}
                {% for year, month, order, is_finished in order_month_list %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ year }}年{{ month }}月</td>
                        {% if is_finished %}
                            <td>
                                <a href="{% url 'subcontractor_members' subcontractor.pk %}?ym={{ year }}{{ month }}">
                                    情報確認
                                </a>
                            </td>
                            <td>{{ order.order_no }}</td>
                            <td>{{ order.updated_date|date:'Y/m/d H:i' }}</td>
                            <td>{{ order.user }}</td>
                            <td style="text-align: center">
                                <a href="{% url 'download_subcontractor_order' subcontractor.pk %}?ym={{ year }}{{ month }}"
                                   target="_blank">
                                    註文書作成
                                </a>
                            </td>
                        {% else %}
                            <td>
                                <a href="{% url 'subcontractor_members' subcontractor.pk %}?ym={{ year }}{{ month }}" class="red">
                                    注文情報入力
                                </a>
                            </td>
                            <td><img width="12px" src="/static/{{ theme }}/img/icon-warn.png"/></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <div class="dashboard">
        <div class="dashboard-title">社員一覧</div>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>{% create_order_display "名前" "first_name" %}</th>
                <th>案件</th>
                <th>開始日</th>
                <th>終了日</th>
            </tr>
        </thead>
        <tbody>
            {% if members %}
                {% for member in members %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>
                            <a href="{% url 'member_detail' member.employee_id %}">{{ member }}</a>
                        </td>
                        <td>
                            {{ member.get_current_project_member.project }}
                        </td>
                        <td>{{ member.get_current_project_member.start_date|date:'Y-m-d' }}</td>
                        <td>{{ member.get_current_project_member.end_date|date:'Y-m-d' }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="row1"><td class="center red" colspan="4">協力社員がいません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="pagination">
                        <span class="step-links">
                            {% if projects.has_previous %}
                                <a href="?page={{ projects.previous_page_number }}{{ params }}">&lt;</a>
                            {% endif %}

                            {% if paginator.page_range|length > 1 %}
                                {% for page in paginator.page_range %}
                                    {% ifequal page projects.number %}
                                        <span class="current">
                                            {{ page }}
                                        </span>
                                    {% else %}
                                        <a href="?page={{ page }}{{ params }}{{ orders }}">{{ page }}</a>
                                    {% endifequal %}
                                {% endfor %}
                            {% endif %}

                            {% if projects.has_next %}
                                <a href="?page={{ projects.next_page_number }}{{ params }}">&gt;</a>
                            {% endif %}
                            <span>{{ paginator.count }} 件</span>
                        </span>
                    </div>
                </td>
                <td style="text-align: center;">{{ bp_count }}</td>
                <td colspan="2"></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}