<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>契約管理システム</title>

    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/contract/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/contract/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/static/contract/css/article.css"/>

    <script type="text/javascript" src="/static/admin/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://use.fontawesome.com/2938c96a89.js"></script>
    <script type="text/javascript" src="/static/contract/js/base.js"></script>

    {% block header %}{% endblock %}
</head>
<body>
<header>
    <div class="nav">
        <a href="{% url 'index' %}">営業支援システム</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{% url 'download_eboa_members' %}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> ＥＢＯＡ社員情報ダウンロード</a>
    </div>
    <div class="container">
        <h1 class="title"><a href="{% url 'contract-index' %}">契約管理システム</a></h1>
    </div>
</header>
<article class="container">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</article>
<footer style="height: 50px;">

</footer>
</body>
</html>