{% load humanize %}

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>雇 用 契 約 書</title>

    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/contract/css/article.css"/>

    <script type="text/javascript" src="/static/admin/js/jquery-2.1.4.min.js"></script>

</head>
<body>
<article class="contract">
    <h1 style="margin-bottom: 10px;">雇 用 契 約 書</h1>
    <div>
        <u>{{ contract.member }} 殿</u>
        <div>貴殿を雇用するに当たっての条件は次の通りです。</div>
    </div>
    <table border="1" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <th>雇用形態</th>
                <td>{{ contract.get_member_type_display }}</td>
                <th>所属部署</th>
                <td>{{ contract.member.section|default:'' }}</td>
                <th>職位</th>
                <td style="width: 200px;">{{ contract.position|default:'' }}</td>
            </tr>
            <tr>
                <th>雇用日</th>
                <td colspan="5">{{ contract.employment_date }}</td>
            </tr>
            <tr>
                <th>雇用期間</th>
                <td colspan="5">
                    {% if contract.member_type == 1 %}
                    {% else %}
                        {% if contract.start_date %}
                            {% if contract.end_date %}
                                {{ contract.start_date }} ～ {{ contract.end_date }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {{ contract.employment_period_comment }}</td>
            </tr>
            <tr>
                <th>就業の場所<br/>業務の種類</th>
                <td colspan="5">
                    {{ contract.business_address }}<br/>
                    {{ contract.get_business_type_display }}<br/>
                    <pre>{{ contract.business_other }}</pre>
                </td>
            </tr>
            <tr>
                <th>就業時間</th>
                <td colspan="5"><pre>{{ contract.business_time }}</pre></td>
            </tr>
            <tr>
                <th rowspan="5">給　　与</th>
                <th>基本給</th>
                <td colspan="4">
                    ¥{{ contract.allowance_base|intcomma }}円/{% if contract.is_hourly_pay %}時間{% else %}月{% endif %}
                    {% if contract.move_flg == 0 %}
                        {{ contract.allowance_base_memo }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>諸手当</th>
                <td colspan="4">
                    {% if contract.move_flg == 0 %}
                        {% if contract.allowance_work %}
                            現場手当 : ¥{{ contract.allowance_work|intcomma }}円/月&nbsp;{{ contract.allowance_work_memo|default:'' }}<br/>
                        {% endif %}
                        {% if contract.allowance_director %}
                            役職手当 : ¥{{ contract.allowance_director|intcomma }}円/月&nbsp;{{ contract.allowance_director_memo|default:'' }}<br/>
                        {% endif %}
                        {% if contract.allowance_position %}
                            職務手当 : ¥{{ contract.allowance_position|intcomma }}円/月&nbsp;{{ contract.allowance_position_memo|default:'' }}<br/>
                        {% endif %}
                        {% if contract.allowance_diligence %}
                            精勤手当 : ¥{{ contract.allowance_diligence|intcomma }}円/月&nbsp;{{ contract.allowance_diligence_memo|default:'' }}<br/>
                        {% endif %}
                        {% if contract.allowance_security %}
                            安全手当 : ¥{{ contract.allowance_security|intcomma }}円/月&nbsp;{{ contract.allowance_security_memo|default:'' }}<br/>
                        {% endif %}
                        {% if contract.allowance_qualification %}
                            資格手当 : ¥{{ contract.allowance_qualification|intcomma }}円/月&nbsp;{{ contract.allowance_qualification_memo|default:'' }}<br/>
                        {% endif %}
                        {% if contract.allowance_traffic_memo %}
                            通勤手当 : {{ contract.allowance_traffic_memo|default:'' }}<br/>
                        {% endif %}
                        {% if contract.allowance_overtime %}
                            残業手当 : {{ contract.allowance_overtime_memo|default:'' }}<br/>
                        {% endif %}
                        {% if contract.allowance_absenteeism %}
                            欠勤控除 : {{ contract.allowance_absenteeism_memo|default:'' }}<br/>
                        {% endif %}
                        {% if contract.allowance_other_memo %}
                            その他 : {{ contract.allowance_other_memo|default:'' }}<br/>
                        {% endif %}
                    {% else %}
                        <pre>{{ contract.allowance_ticket_comment|default:'' }}</pre>
                    {% endif %}
                </td>
            </tr>
            <tr>
                {% if contract.endowment_insurance == '1' %}
                    <th>会社保険</th>
                    <td colspan="4">厚生年金保険 : 加入する</td>
                {% endif %}
            </tr>
            <tr>
                <th>給与締切日<br/>および支払日</th>
                <td colspan="4"><pre>{{ contract.allowance_date_comment|default:'' }}</pre></td>
            </tr>
            <tr>
                <th>昇給および<br/>降給</th>
                <td colspan="4">{{ contract.allowance_change_comment|default:'' }}</td>
            </tr>
            {% if contract.member_type == 1 %}
            <tr>
                <th>賞　　与</th>
                <td colspan="5"><pre>{{ contract.bonus_comment|default:'' }}</pre></td>
            </tr>
            {% else %}
            {% if contract.member_type == 7 %}
            <tr>
                <th>賞　　与</th>
                <td colspan="5"><pre>{{ contract.bonus_comment|default:'' }}</pre></td>
            </tr>
            {% endif %}
            {% endif %}
            <tr>
                <th>休　　日</th>
                <td colspan="5">{{ contract.holiday_comment|default:'' }}</td>
            </tr>
            {% if contract.member_type == 1 %}
            <tr>
                <th>有給休暇</th>
                <td colspan="5">{{ contract.paid_vacation_comment|default:'' }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>無給休暇</th>
                <td colspan="5">{{ contract.non_paid_vacation_comment|default:'' }}</td>
            </tr>
            <tr>
                <th>退職に関する<br/>事　項</th>
                <td colspan="5"><pre>{{ contract.retire_comment|default:'' }}</pre></td>
            </tr>
            <tr>
                <th>備　　考</th>
                <td colspan="5"><pre>{{ contract.comment|default:'' }}</pre></td>
            </tr>
        </tbody>
    </table>
    <div style="padding: 10px;">
        <div style="margin-left: 20px;">契約日:{{ contract.contract_date }}</div>
        <div style="text-align: right;">会社および従業員は、上記の雇用条件について確認のうえ、同意いたします。</div>
        <div>
            <div class="tail" style="float: left;">{{ contract.company }}</div>
            <div class="tail" style="float: right;">
                従業員
                <span style="float:right;">㊞</span>
            </div>
        </div>
        <div>
            <div class="tail" style="float: left;">
                代表取締役&nbsp;&nbsp;&nbsp;&nbsp;{{ contract.company.president }}
                <span style="float:right;">㊞</span>
            </div>
            <div class="tail" style="float: right;">住所</div>
        </div>
    </div>
    <div style="clear: both;"></div>
</article>
</body>
</html>