{% load humanize %}
{% load wareki %}

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>所得証明書</title>

    <script type="text/javascript" src="/static/admin/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/contract/js/base.js"></script>

    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/contract/css/article.css"/>
    <link rel="stylesheet" type="text/css" href="/static/contract/css/print.css" media="print"/>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#chk_income_yearly").change(function(){
                if ($(this).is(':checked')) {
                    $("#div_income_yearly").css("display", "block");
                    $("#div_income_monthly").css("display", "none");
                } else {
                    $("#div_income_yearly").css("display", "none");
                    $("#div_income_monthly").css("display", "none");
                }
            });
            $("#chk_income_monthly").change(function(){
                if ($(this).is(':checked')) {
                    $("#div_income_yearly").css("display", "none");
                    $("#div_income_monthly").css("display", "block");
                } else {
                    $("#div_income_yearly").css("display", "none");
                    $("#div_income_monthly").css("display", "none");
                }
            });
        });

        function change_income(obj, target_id) {
            income = parseInt($(obj).val());
            if (income > 0) {
                $("#" + target_id).text(numberWithCommas(income));
            }
        }
    </script>
</head>
<body>
{% now 'Y' as year %}
<article class="certificate">
    <h1>所 得 証 明 書</h1>
    <div>
        <table class="middle" style="height: 200px;">
            <tr>
                <td class="left_side">住　　　　　所 ： </td>
                <td class="right_side">{{ member.address1|default:'' }}{{ member.address2|default:'' }}</td>
            </tr>
            <tr>
                <td class="left_side">氏　　　　　名 ： </td>
                <td class="right_side">{{ member }}</td>
            </tr>
            <tr id="tr_position">
                <td class="left_side">職　務　位　置 ： </td>
                <td class="right_side">{{ contract.position|default:'' }}</td>
            </tr>
            <tr>
                <td class="left_side">会 社　所 在 地 ： </td>
                <td class="right_side">{{ member.company.address1|default:'' }}{{ member.company.address2|default:'' }}</td>
            </tr>
        </table>
    </div>
    <div style="height: 112px; padding-left: 35px;">
        <div class="income" id="div_income_yearly">
            {{ year }}年分年収予定額：￥<span id="span_income_yearly">{{ contract.get_cost_yearly|intcomma }}</span>円（課税前）とする。<br/>
            交通費また時間外手当などについて、別途となります。
        </div>
        <div class="income" id="div_income_monthly" style="display: none;">
            月収額：￥<span id="span_income_monthly">{{ contract.get_cost|intcomma }}</span>円/月（課税前）とする。<br/>
            交通費また時間外手当などについて、別途となります。
        </div>
    </div>
    <div style="margin: 50px 150px 50px 100px;">上記のとおりであることを証明します。</div>
    <div style="margin: 50px 150px 230px 150px; text-align: right;">{{ today|to_wareki }}</div>
    <table class="bottom">
        <tr>
            <td class="left_side">住　　　所 :</td>
            <td class="right_side">{{ member.company.address1|default:'' }}{{ member.company.address2|default:'' }}</td>
        </tr>
        <tr>
            <td class="left_side">会　社　名 :	</td>
            <td class="right_side">{{ member.company }}</td>
        </tr>
        <tr>
            <td class="left_side">代表取締役 : </td>
            <td class="right_side">{{ member.company.president }}</td>
        </tr>
    </table>
    <div class="dashboard-control">
        <div>
            <label for="chk_income_yearly">年　　収</label>
            <input id="chk_income_yearly" type="radio" name="income" checked="checked"/>
            <input type="number" style="width: 100px; text-align: right;" onchange="change_income(this, 'span_income_yearly')" value="{{ contract.get_cost_yearly }}"/>
        </div>
        <div>
            <label for="chk_income_monthly">月　　収</label>
            <input id="chk_income_monthly" type="radio" name="income"/>
            <input type="number" style="width: 100px; text-align: right;" onchange="change_income(this, 'span_income_monthly')" value="{{ contract.get_cost }}"/>
        </div>
    </div>
</article>
</body>
</html>