{% extends "base_contract.html" %}
{% load humanize %}
{% load sales_templates %}
{% load order_by_tag %}

{% block header %}
    <script type="text/javascript">
        window.onload = function() {
            init_select("q");
            init_select("is_retired");
            //init_select("contract__member_type");
        };
    </script>
{% endblock %}

{% block content %}
<form method="get" action="#">
    <input type="text" name="q" id="q" value="" style="height: 40px;width: 400px;line-height:30px;font-size:25px">
    <select id="is_retired" name="is_retired" style="height: 30px;">
        <option value="">すべて</option>
        <option value="0">未退職</option>
        <option value="1">退職</option>
    </select>
    <select id="contract__member_type" name="contract__member_type" style="height: 30px; display: none;">
        <option value="">すべて</option>
        <option value="1">正社員</option>
        <option value="2">契約社員</option>
        <option value="3">個人事業者</option>
        <option value="4">他社技術者</option>
        <option value="5">パート</option>
        <option value="6">アルバイト</option>
        <option value="7">正社員（試用期間）</option>
    </select>

    <input type="submit" style="height: 40px;width: 100px;line-height:30px;font-size:25px" value="確定">
    <a href="{% url 'member_add' %}" class="rbutton"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;社員追加</a>
</form>
<div>
    <div class="flowTit"></div>
    <div class="flowBox" style="width: 975px;">
        <table class="list">
            <thead>
                <tr>
                    <th style="width: 38px;">{% create_single_order_display "番号" "id_from_api" %}</th>
                    <th>{% create_single_order_display "名前" "first_name" %}</th>
                    <th style="width: 27px;">性別</th>
                    <th>生年月日</th>
                    <th>{% create_single_order_display "入社時間" "join_date" %}</th>
                    <th>{% create_single_order_display "EBOA連携ID" "eboa_user_id" %}</th>
                    <th>雇用形態</th>
                    <th>雇用日</th>
                    <th>コスト</th>
                    <th style="width: 27px;">保険</th>
                    <th>状態</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                {% with contract=member.latest_contract_set|first %}
                <tr class="{% if member.is_retired %}expired{% endif %} {% if contract.status == '04' %}expired{% endif %}">
                    {% if contract %}
                        <td class="center"><a href="{% url 'contract_change' member.id_from_api %}">{{ member.id_from_api|default:'' }}</a></td>
                        <td><a href="{% url 'member_change' member.pk %}">{{ member }}</a></td>
                        <td>{{ member.get_sex_display|default:'' }}</td>
                        <td>{{ member.birthday|date:'Y/m/d'|default:'' }}</td>
                        <td>{{ member.join_date|date:'Y/m/d'|default:'' }}</td>
                        <td>{{ member.eboa_user_id|default:'' }}</td>
                        <td><div style="width: 65px">{{ contract.get_member_type_display }}</div></td>
                        <td>{{ contract.employment_date|date:'Y/m/d' }}</td>
                        <td class="num">¥ {{ contract.get_cost|intcomma }}円/月</td>
                        <td class="center">
                            {% if contract.endowment_insurance == '1' %}
                                ○
                            {% endif %}
                        </td>
                        <td>{{ contract.get_status_display }}</td>
                    {% else %}
                        {% if member.id_from_api %}
                            <td class="center"><a href="{% url 'contract_change' member.id_from_api %}">{{ member.id_from_api|default:'' }}</a></td>
                        {% else %}
                            <td class="center">
                                {% if member.is_retired %}
                                {% else %}
                                <a href="javascript:gen_api_id('{% url 'gen_api_id' member.pk %}')" onclick="return confirm('ＩＤを作成しますか？')">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </a>
                                {% endif %}
                            </td>
                        {% endif %}
                        <td><a href="{% url 'member_change' member.pk %}">{{ member }}</a></td>
                        <td>{{ member.get_sex_display|default:'' }}</td>
                        <td>{{ member.birthday|date:'Y/m/d'|default:'' }}</td>
                        <td>{{ member.join_date|date:'Y/m/d'|default:'' }}</td>
                        <td>{{ member.eboa_user_id|default:'' }}</td>
                        <td>{{ member.get_member_type_display }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endwith %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10">
                        {% paging members %}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="flowBottom2"></div>
</div>
{% endblock %}
