@CHARSET "utf-8";

section {
    font-size: 13px;
    padding-top: 10px;
}

section div.scroll_container {
    width: 1100px;
    overflow-x: scroll;
}

section table.nested_list {
    margin: 0 auto;
    border: 1px solid #eee;
}

section table.nested_list th {
    color: #5b80b2;
    border-top: 1px dotted #eee;
    border-bottom: 1px dotted #eee;
}

section table.nested_list td {
    padding: 1px 10px;
    border-bottom: 1px dotted #eee;
}

section table.list {
    width: 100%;
    color: #5b80b2;
    border-left: 1px solid #eee;
    margin-top: 10px;
}

section table.list th, section table.list tfoot td {
    border-right: 1px solid #eee;
    background: linear-gradient(#fff, #eee)
}

section table.list th {
    font-size: .9em;
    text-align: left;
    height: 31px;
}

section table th .sortoptions {
    float: right;
    padding: 7px 0px 0px 1px;
    text-align: right;
}

section table th .sortoptions a.sortremove {
    background: url(/static/img/sorting-icons.gif) -4px -2px no-repeat;
    width: 14px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
    padding: 2px 0px;
}

section table th .sortoptions a.sortremove:hover {
    background: url(/static/img/sorting-icons.gif) -4px -24px no-repeat;
}

section table th .sortoptions .sortpriority {
    font-size: .8em;
}

section table th .sortoptions a.ascending {
    background: url(/static/img/sorting-icons.gif) -5px -47px no-repeat;
    display: inline-block;
    width: 14px;
    height: 12px;
    cursor: pointer;
    padding: 2px 0px;
}

section table th .sortoptions a.ascending:hover {
    background: url(/static/img/sorting-icons.gif) -5px -69px no-repeat;
}

section table th .sortoptions a.descending {
    background: url(/static/img/sorting-icons.gif) -5px -91px no-repeat;
    display: inline-block;
    width: 14px;
    height: 12px;
    cursor: pointer;
    padding: 2px 0px;
}

section table th .sortoptions a.descending:hover {
    background: url(/static/img/sorting-icons.gif) -5px -112px no-repeat;
}

section table.list th div.text {
    cursor: pointer;
    height: 100%;
}

section table.list th div.text:hover {
    background: linear-gradient(#eee, #fff)
}

section table.list th span.title {
    padding: 7px;
}

section table.list th div.text a {
    display: block;
    padding: 7px;
}

section table.list td {
    padding: 2px 4px;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
}

section table.list th, section table.list tfoot td {
    color: #666;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

section table.list tr.expired,
section table.list tr.waiting,
section table.list tr.finished,
section table.list tr.off_sales {
    background: lightgray;
}

section table.list tr.planning {
    background-color: #FFFFAA;
}

section table.list tr:hover {
    background-color: LightGreen;
}

section table.list tr:hover td {
    background-color: transparent;
}


section table.detail {
    width: 100%;
    border: 1px solid rgb(198, 246, 204);
    background-color: #fff;
}

section table.detail pre {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

section table.detail th, section table.detail td {
    border: 1px solid rgb(198, 246, 204);
    padding: 2px 4px;
}

section table.detail th {
    background-color: #D1EEEE;
}

section .row1 {
    background: #EDF3FE;
}

section .row2 {
    background: #FFF;
}

section .row_updating {
    background: rgb(249,225,139);
}

section .row_updated {
    display: none;
}

section .issue_status1 {
    background: #FFF; /* 提出中 */
}

section .issue_status2 {
    background: yellow; /* 対応中 */
}

section .issue_status3 {
    background: lightblue; /* 対応完了 */
}

section .issue_status4 {
    background: gray; /* クローズ */
    color: black;
}

section div.dashboard {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    background-color: #fff;
}

section div.dashboard div.dashboard-title {
    padding: 5px 5px;
    background: linear-gradient(#fff, #eee);
}

section div.dashboard div.dashboard-tail {
    padding: 2px 5px;
    background: linear-gradient(#fff, #eee);
    text-align: right;
}

section div.dashboard div.dashboard-tail a {
    margin-right: 10px;
}

section div.dashboard form, section div.dashboard table {
    width: 100%;
    padding: 10px 5px;
    min-height: 20px;
}

section div.dashboard table .subtitle {
    padding: 3px 10px;
    font-weight: bold;
}

section div.dashboard table th {
    padding: 4px 10px;
    width: 120px;
    text-align: left;
    font-weight: normal;
}

section div.dashboard table .num {
    text-align: left;
    font-weight: bold;
}

section div.dashboard a.button{
    float: right;
    margin-right: 10px;
}

section div.dashboard table.resume {
    border: 1px solid black;
    margin: 20px auto;
    font-size: 10pt;
    font-family: "ＭＳ Ｐゴシック";
    padding: 0px;
}

section div.dashboard table.resume table {
    padding: 0px;
}

section div.dashboard table.resume table th {
    width: 60px;
    padding: 0px 5px;
    text-align: center;
    border-right: 1px solid black;
    background-color: rgb(192, 192, 192);
}

section div.dashboard table.resume table td {
    padding-left: 4px;
}

section div.dashboard table.resume .th-top {
    border-right: 1px dotted black;
}

section div.dashboard table.resume .td-inner {
    border-top: 1px dotted black;
}

section div.dashboard table.resume .project-detail td {
    font-size: 9pt;
    border-top: 1px solid black;
    border-right: 1px dotted black;
}

section input[type=submit] {
    padding: 2px 8px;
}

section .pagination {
    margin-top: 3px;
    padding: 2px;
}

section .pagination a {
    padding: 1px 8px;
    border: solid 1px #ccc;
    background: white;
    color: #5b80b2;
}

section .pagination span.current {
    padding: 1px 8px;
    font-weight: bold;
    font-size: 13px;
    vertical-align: top;
}

section div.mask {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(127, 127, 127, 0.5);
}

section div.dialog {
    position: fixed;
    display: none;
    width: 600px;
    background-color: white;
    z-index: 1000;
    overflow-y: scroll;
    max-height: 600px;
}

section div.dialog .sep {
    border-bottom: 1px solid gray;
}

section div.dialog form th, section div.dialog form td {
    padding: 5px 5px;
}

section .errorlist {
    background: #c11;
    color: #fff;
}

section div#change_password,
section div#login {
    width: 400px;
    margin: 150px auto;
    border: 1px solid gray;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #333333;
    padding: 25px 25px 15px 5px;
}

section div#change_password img ,
section div#login img {
    width: 80px;
    margin-top: 15px;
}

section div#change_password input ,
section div#login input {
    width: 250px;
    border-radius: 5px;
    padding: 3px;
}

section div#change_password label ,
section div#login label {
    line-height: 2;
}

section div#change_password button ,
section div#login button {
    padding: 5px 10px;
    margin: 5px 0px;
}

section table.request {
    border: 1px solid black;
    margin: 20px auto;
    margin-top: -10px;
    font-size: 10pt;
    font-family: "ＭＳ Ｐゴシック";
    padding: 0px;
    table-layout: fixed;
}

section table.request .title {
    font-size: 20pt;
    text-align: center;
    text-decoration:underline;
}

section table.request tr {
    height: 20px;
}

section table.request td.title2 {
    font-size: 14pt;
    font-weight: bold;
    text-decoration: underline;
}

section table.request td.title3 {
    font-size: 13pt;
    font-weight: bold;
}

section table.request td.top {
    border-top: 1px solid #000;
}

section table.request td.left {
    border-left: 1px solid #000;
}

section table.request td.border_right {
    border-right: 1px solid #000;
}

section table.request td.bottom {
    border-bottom: 1px solid #000;
}

section table.request td.align_right {
    text-align: right;
    padding-right: 3px;
}

section table.request td.align_left {
    text-align: left;
    padding-left: 3px;
}

/* 一括案件 */
section .lump_project {
    background-color: yellow;
}

/* 請求書作成済み */
section .project_requested {
    background-color: lightgray;
}

section div.example {
    padding-left: 10px;
    padding-top: 5px;
}

section div.example span {
    float: left;
}

section div.example div {
    float: left;
    border: 1px solid black;
    font-size: 11px;
    margin-left: 10px;
}