<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>{{ title }}</title>

    <link rel="manifest" href="/static/admin/manifest.json" />
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/{{ theme }}/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/{{ theme }}/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/static/{{ theme }}/css/section.css"/>
    <link rel="stylesheet" type="text/css" href="/static/{{ theme }}/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="/static/{{ theme }}/css/print.css" media="print"/>

    <script type="text/javascript" src="/static/admin/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/base.js"></script>
    <script type="text/javascript" src="https://use.fontawesome.com/2938c96a89.js"></script>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    {% block header %}{% endblock %}
</head>

<body>
	<header>
        <div class="container">
            <div class="header-top">
                <img class="logo" src="/static/logo.gif" />
                <span style="color: gray;">E-Business Inc.</span>
                <span id="subscription" style="display: none;">subscription</span>
                <button class="js-push-button" style="display: none;">register</button>
                <div class="login-info">
                    {% if not user.is_anonymous %}
                        ようこそ&nbsp;&nbsp;
                        <b>
                            {% if user.salesperson %}
                                {{ user.salesperson }}
                            {% else %}
                                {% if user.member %}
                                    {{ user.member }}
                                {% else %}
                                    {{ user }}
                                {% endif %}
                            {% endif %}
                        </b>&nbsp;&nbsp;
                        {{ user.salesperson.get_member_type_display }}
                        <a href="{% url 'password_change' %}">パスワードの変更</a>
                        <br/>
                        <a href="{% url 'logout_view' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'admin:login' %}?next={{ request.get_full_path }}">ログイン</a>
                    {% endif %}
                </div>
            </div>
            <div class="header-nav">
                <ul>
                    <li><a href="{% url 'index' %}">HOME</a>
                        {% if perms.contract.change_contract %}
                        <ul>
                            <!--<li><a href="{% url 'flow-index' %}">マイページ</a></li>-->
                            <li><a href="{% url 'contract-index' %}">契約管理システム</a></li>
                        </ul>
                        {% endif %}
                    </li>
                    <li><a href="{% url 'employee_list' %}">要員一覧</a>
                        <ul>
                            <li><a href="{% url 'member_cost_list' %}">要員コスト一覧</a></li>
                            <li><a href="{% url 'change_list' %}">入退場リスト</a></li>
                            <li><a href="{% url 'release_list_current' %}">リリース状況一覧</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'project_list' %}">案件一覧</a>
                        <ul>
                            {% if perms.eb.view_turnover %}
                            <li><a href="{% url 'project_order_list' %}">案件の注文情報</a></li>
                            {% endif %}
                            <li><a href="{% url 'section_list' %}">部署情報一覧</a></li>
                        </ul>
                    </li>
                    {% if perms.eb.view_subcontractor %}
                    <li><a href="{% url 'business_partner_members' %}">ＢＰメンバー</a>
                    </li>
                    {% endif %}
                    {% if perms.eb.view_turnover %}
                    <li><a href="{% url 'turnover_company_monthly' %}">売上情報</a>
                        <ul>
                            <li><a href="{% url 'turnover_company_yearly' %}">年間売上情報</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li><a href="{% url 'admin:index' %}">管理サイト</a>
                        <ul>
                            {% if user.username == "admin" %}
                            <li><a href="{% url 'eboa_admin:index' %}">EBOAデータ参照</a></li>
                            {% endif %}
                            <li><a href="{% url 'del_data_admin:index' %}">削除したデータ</a></li>
                            <li><a href="{% url 'batch_list' %}">バッチ一覧</a></li>
                            <li><a href="{% url 'auto_send_mail' %}">メール送信</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
        {% block content %}{% endblock %}
        </div>
    </section>
	<footer>
        <div class="container">
            {% ifequal request.user.username 'admin' %}
            <a href="{% url 'history' %}">Click here to see history</a>
            {% endifequal %}
            <a href="{% url 'issues' %}">課題管理票</a>
        </div>
    </footer>
</body>
</html>