{% extends theme|add:"/base.html" %}

{% block content %}
<form id="form1" method="post" action="{% url 'batch_list' %}">
    <div style="display: none;">
        {% csrf_token %}
        <input type="hidden" id="batch_name" name="batch_name" value="">
        <input type="submit"/>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>バッチID</th>
                <th>バッチ名</th>
                <th>バッチの実行タイミング</th>
                <th>有効</th>
                <th>実行</th>
                <th>ログ</th>
            </tr>
        </thead>
        <tbody>
        {% for batch in batches %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{ batch.name }}</td>
                <td>{{ batch.title }}</td>
                <td>{{ batch.cron_tab }}</td>
                <td>
                    {% if batch.is_active %}
                    <img width="12px" src="/static/{{ theme }}/img/icon-normal.png"/>
                    {% else %}
                    <img width="12px" src="/static/{{ theme }}/img/icon-warn.png"/>
                    {% endif %}
                </td>
                <td>
                    {% if batch.is_active %}
                    <input type="button" id="{{ batch.name }}" name="{{ batch.name }}" value="実行"
                           onclick="execute_batch('{{ batch.name }}')"
                           style="padding: 0px 15px;"/>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'batch_log' batch.name %}">ログを参照</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>バッチID</th>
                <th>バッチ名</th>
                <th>バッチの実行タイミング</th>
                <th>有効</th>
                <th>実行</th>
                <th>ログ</th>
            </tr>
        </tfoot>
    </table>
    <script type="text/javascript">
        function execute_batch(name) {
            musk();
            document.getElementById("batch_name").value = name;
            document.getElementById("form1").submit();
        }
    </script>
</form>
{% endblock %}
