{% extends theme|add:"/base.html" %}
{% load humanize %}
{% load sales_templates %}

{% block header %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" >
<script type="text/javascript">
</script>
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">ＢＰメンバー注文情報</div>
        <form>
            <a href="{% url 'contract:contract_bpcontract_add' %}?from=portal&_popup=1&member_id={{member.pk}}" class="button" target="_blank">契約追加</a>
        </form>
    </div>
    <div id="mask" onclick="hide_dialog()" class="mask"></div>
    <table class="detail" cellpadding="0" cellspacing="0">
        <tr>
            <th>名前</th>
            <td>{{ member }}</td>
            <th>協力会社</th>
            <td>{{ member.subcontractor }}
                <a style="font-size: 9px; float: right;" target="_blank"
                   href="{% url 'admin:eb_subcontractor_change' member.subcontractor.pk %}?from=portal&_popup=1">編集
                </a>
            </td>
        </tr>
    </table>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>開始日</th>
                <th>終了日</th>
                <th>時給</th>
                <th>固定</th>
                <th>基本給</th>
                <th>時間下限</th>
                <th>時間上限</th>
                <th style="width: 110px;">計算種類</th>
                <th style="width: 160px;">残業手当</th>
                <th style="width: 160px;">欠勤手当</th>
                <th>その他</th>
                <th style="width: 50px;"></th>
            </tr>
        </thead>
        <tbody>
            {% if member.bpcontract_set.all %}
                {% for contract in member.bpcontract_set.all %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ contract.start_date }}</td>
                        <td>{{ contract.end_date }}</td>
                        <td>
                            {% if contract.is_hourly_pay %}
                                <img width="12px" src="/static/{{ theme }}/img/icon-normal.png" />
                            {% endif %}
                        </td>
                        <td>
                            {% if contract.is_fixed_cost %}
                                <img width="12px" src="/static/{{ theme }}/img/icon-normal.png" />
                            {% endif %}
                        </td>
                        <td class="num">{{ contract.allowance_base|intcomma }}</td>
                        {% if contract.is_hourly_pay %}
                            <td colspan="5"></td>
                        {% elif contract.is_fixed_cost %}
                            <td colspan="5"></td>
                        {% else %}
                            <td class="num">{{ contract.allowance_time_min|intcomma }}</td>
                            <td class="num">{{ contract.allowance_time_max|intcomma }}</td>
                            <td>{{ contract.get_calculate_type_display }}</td>
                            <td class="num">
                                {% if contract.allowance_overtime_memo %}
                                    {{ contract.allowance_overtime_memo|slice:'5:' }}
                                {% else %}
                                    \{{ contract.get_cost|intcomma }}/{{ contract.calculate_time_max }}h=\{{ contract.allowance_overtime|intcomma }}/h
                                {% endif %}
                            </td>
                            <td class="num">
                                {% if contract.allowance_absenteeism_memo %}
                                    {{ contract.allowance_absenteeism_memo|slice:'5:' }}
                                {% else %}
                                    \{{ contract.get_cost|intcomma }}/{{ contract.calculate_time_min }}h=\{{ contract.allowance_absenteeism|intcomma }}/h
                                {% endif %}
                            </td>
                        {% endif %}
                        <td class="num">{{ contract.allowance_other|intcomma }}</td>
                        <td class="center"><a href="{% url 'contract:contract_bpcontract_change' contract.pk %}?from=portal&_popup=1" target="_blank">編集</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="12" class="red row2 center">契約情報がありません、追加してください。</td>
                </tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <th>開始日</th>
                <th>終了日</th>
                <th>時給</th>
                <th>固定</th>
                <th>基本給</th>
                <th>時間下限</th>
                <th>時間上限</th>
                <th>計算種類</th>
                <th>残業手当</th>
                <th>欠勤手当</th>
                <th>その他</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>案件／対象年月</th>
                <th style="width: 60px;">営業日数</th>
                <th>開始日／注文番号</th>
                <th>終了日／注文書</th>
                <th>注文請書</th>
            </tr>
        </thead>
        <tbody>
            {% for project_member in project_members %}
                <tr class="row1">
                    <td colspan="2">
                        <a href="{% url 'project_detail' project_member.project.pk %}" title="{{ project_member.project }}">
                            {{ project_member.project }}
                        </a>
                    </td>
                    <td>{{ project_member.start_date }}</td>
                    <td>{{ project_member.end_date }}</td>
                    <td></td>
                </tr>
                {% for year, month, days, order in project_member.get_bp_member_orders %}
                    <tr class="row2">
                        <td>{{ year }}年{{ month|stringformat:"02d" }}月</td>
                        <td class="num">{{ days }}</td>
                        <td class="center">
                            {% if order %}
                                <a href="{% url 'bp_member_order' order.pk %}">{{ order.order_no }}</a>
                            {% else %}
                                <a href="{% url 'bp_member_order_preview' project_member.pk year month|stringformat:'02d' %}" target="_blank">プレビュー</a>
                            {% endif %}
                        </td>
                        {% if order %}
                            <td class="center">
                                <a href="{% url 'download_bp_order' project_member.pk year month|stringformat:'02d' %}?overwrite=1" target="_blank">
                                    ダウンロード</a>&nbsp;|&nbsp;
                                <a href="{% url 'download_bp_order' project_member.pk year month|stringformat:'02d' %}" target="_blank"
                                   onclick="return confirm('既に作成済みなので、上書きしてもよろしいですか？')">
                                    再作成</a>
                            </td>
                            <td class="center">
                                {% if order.filename_request %}
                                    <a href="{% url 'download_bp_order_request' project_member.pk year month|stringformat:'02d' %}?overwrite=1" target="_blank">
                                        ダウンロード</a>&nbsp;|&nbsp;
                                    <a href="{% url 'download_bp_order_request' project_member.pk year month|stringformat:'02d' %}" target="_blank"
                                       onclick="return confirm('既に作成済みなので、上書きしてもよろしいですか？')">
                                        再作成</a>
                                {% else %}
                                    <a href="{% url 'download_bp_order_request' project_member.pk year month|stringformat:'02d' %}" target="_blank">注文請書作成</a>
                                {% endif %}
                            </td>
                            {% else %}
                            <td class="center">
                                <a href="javascript:show_dialog('bp_order_gen_{{ project_member.pk }}_{{ year }}_{{ month|stringformat:'02d' }}');$('#id_publish_date_{{project_member.pk}}{{year}}{{month}}').datepicker();" target="_blank">注文書新規作成</a>
                                <div id="bp_order_gen_{{ project_member.pk }}_{{ year }}_{{ month|stringformat:'02d' }}" class="dialog" style="overflow-y: hidden;">
                                    <form method="get" action="{% url 'download_bp_order' project_member.pk year month|stringformat:'02d' %}" target="_blank">
                                        <div>
                                            {% get_default_bp_order_no year month as default_date %}
                                            <label for="id_publish_date_{{project_member.pk}}{{year}}{{month}}" style="float: left; width: 160px;">発行年月日</label>
                                            <input name="publish_date" id="id_publish_date_{{project_member.pk}}{{year}}{{month}}" style="float: left;"
                                                   value="{{ default_date }}"/>
                                        </div>
                                        <div style="padding: 2px 10px; clear: both;">
                                            <input type="submit" value="作成" style="float: right; padding: 0px 20px;"/>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </form>
                                </div>
                            </td>
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>案件／対象年月</th>
                <th>営業日数</th>
                <th>開始日／注文番号</th>
                <th>終了日／操作</th>
                <th>注文請書</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}