{% extends theme|add:"/base.html" %}
{% load humanize %}
{% load order_by_tag %}
{% load sales_templates %}

{% block header %}
    <script type="text/javascript">
        window.onload = function() {
            init_select("project_member__member__first_name__icontains");
            init_select("project_member__member__last_name__icontains");
            init_select("project_member__member__subcontractor__name__icontains");
            init_select("project_member__project__name__icontains");
        };
    </script>
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">{{ title }}</div>
        <form action="" method="get">
            <label for="project_member__member__first_name__icontains">姓: </label><input type="text" id="project_member__member__first_name__icontains" name="project_member__member__first_name__icontains" style="width: 50px;"/>
            <label for="project_member__member__last_name__icontains">名: </label><input type="text" id="project_member__member__last_name__icontains" name="project_member__member__last_name__icontains" style="width: 50px;"/>
            <label for="project_member__member__subcontractor__name__icontains">協力会社: </label><input type="text" id="project_member__member__subcontractor__name__icontains" name="project_member__member__subcontractor__name__icontains" style="width: 150px;"/>
            <label for="project_member__project__name__icontains">案件名: </label><input type="text" id="project_member__project__name__icontains" name="project_member__project__name__icontains" style="width: 150px;"/>
            <input type="submit" value="Filter" />
            <a href="{{ request.path }}">クリア</a>
        </form>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>{% create_order_display "名前" "project_member__member__first_name" %}</th>
                <th style="width: 200px;">{% create_order_display "協力会社" "project_member__member__subcontractor__name" %}</th>
                <th style="width: 250px;">{% create_order_display "案件" "project_member__project__name" %}</th>
                <th>基本給</th>
                <th>基準時間</th>
                <th>増</th>
                <th>減</th>
                <th>出勤時間</th>
                <th>不足/超過</th>
                <th>交通費</th>
                <th>コスト（税抜）</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
                {% for member_attendance in object_list %}
                {% with contract=member_attendance.get_contract %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href="{% url 'member_detail' member_attendance.project_member.member.employee_id %}">{{ member_attendance.project_member }}</a></td>
                        <td>
                            <div style="width: 200px; overflow: hidden; white-space: nowrap;">
                            {{ member_attendance.project_member.member.subcontractor }}
                            </div>
                        </td>
                        <td>
                            <div style="width: 250px; overflow: hidden; white-space: nowrap;">
                                <a href="{% url 'project_detail' member_attendance.project_member.project.pk %}">{{ member_attendance.project_member.project }}</a>
                            </div>
                        </td>
                        <td class="num">{{ contract.allowance_base|intcomma }}</td>

                        {% if contract.is_hourly_pay %}
                            <td class="center" colspan="3">時給</td>
                        {% elif contract.is_fixed_cost %}
                            <td class="center" colspan="3">固定</td>
                        {% else %}
                            <td>
                                {{ contract.allowance_time_min }}～{{ contract.allowance_time_max }}
                            </td>
                            <td class="num">
                                {{ contract.allowance_overtime|intcomma }}
                            </td>
                            <td class="num">
                                {{ contract.allowance_absenteeism|intcomma }}
                            </td>
                        {% endif %}
                        <td class="num">{{ member_attendance.get_total_hours_cost|floatformat:2 }}</td>
                        <td class="num {% if member_attendance.get_overtime < 0 %}red{% endif %}">{{ member_attendance.get_overtime }}</td>
                        <td class="num">{{ member_attendance.traffic_cost|default:'0'|intcomma }}</td>
                        <td class="num">{{ member_attendance.get_all_cost|intcomma }}</td>
                    </tr>
                {% endwith %}
                {% endfor %}
            {% else %}
                <tr class="row1"><td class="center red" colspan="11">協力会社がありません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="11">
                    {% paging object_list %}
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}