{% extends theme|add:"/base.html" %}

{% block header %}
<script type="text/javascript">
    $(document).ready(function () {
          setTimeout(function () {
            $('.load-delay').each(function () {
                var imagex = $(this);
                var imgOriginal = imagex.data('original');
                //$(imagex).attr('src', imgOriginal);
            });
        }, 200);
    });
</script>
<style type="text/css">
    .project_list td,
    .status_list td {
        padding-left: 10px;
    }
    .project_list tbody tr:hover,
    .status_list tbody tr:hover {
        background-color: LightGreen;
    }
    .status_list tbody td.title {
    }
</style>
{% endblock %}

{% block content %}
    {% if show_own_member_status %}
    <div class="dashboard">
        <div class="dashboard-title">自分が担当しているメンバー状況</div>
        <table cellspacing="0" cellpadding="0">
            <tr class="row1">
                <td colspan="8" class="subtitle">社員稼働状況（今月）：</td>
            </tr>
            <tr class="row2">
                <th>総人数(営業対象内):</th>
                <td class="num">
                    <a href="{% url 'employee_list' %}?salesperson={{ user.salesperson.pk }}&status=sales">
                        {{ user.salesperson.get_on_sales_members.count }}
                    </a>
                </td>
                <th>稼働中人数:</th>
                <td class="num">
                    <a href="{% url 'employee_list' %}?status=working&salesperson={{ user.salesperson.pk }}&status=sales">
                        {{ user.salesperson.get_working_members.count }}
                    </a>
                </td>
                <th>待機中人数:</th>
                <td class="num">
                    <a href="{% url 'employee_list' %}?status=waiting&salesperson={{ user.salesperson.pk }}&status=sales" class="red">
                        {{ user.salesperson.get_waiting_members.count }}
                    </a>
                </td>
                <th>営業対象外:</th>
                <td class="num">
                    <a href="{% url 'employee_list' %}?salesperson={{ user.salesperson.pk }}&status=off_sales">
                        {{ user.salesperson.get_off_sales_members.count }}
                    </a>
                </td>
            </tr>
            <tr class="row1">
                <td colspan="8" class="subtitle">社員リリース状況：</td>
            </tr>
            <tr class="row2">
                <th>今月リリース:</th>
                <td class="num">
                    <a href="{% url 'release_list' filter_list.current_ym %}?salesperson={{ user.salesperson.pk }}"
                       class="red">{{ user.salesperson.get_release_current_month.count }}</a></td>
                <th>来月リリース:</th>
                <td class="num">
                    <a href="{% url 'release_list' filter_list.next_ym %}?salesperson={{ user.salesperson.pk }}">
                        {{ user.salesperson.get_release_next_month.count }}</a></td>
                <th>再来月リリース:</th>
                <td class="num">
                    <a href="{% url 'release_list' filter_list.next_2_ym %}?salesperson={{ user.salesperson.pk }}">
                        {{ user.salesperson.get_release_next_2_month.count }}</a></td>
            </tr>
        </table>
    </div>
    {% endif %}
    {% if show_warning_projects %}
    <div class="dashboard">
        <div class="dashboard-title">下記実施中の案件にメンバーがありません、本当に終了したら案件のステータスを終了に変更してください。そうでなければ、案件メンバーの終了日を延長してください。</div>
        <table cellspacing="0" cellpadding="0" class="project_list">
            <thead>
                <tr class="row1">
                    <td class="subtitle">案件名称</td>
                    <th style="text-align: center">アサイン履歴</th>
                    <th style="text-align: center">編集／終了</th>
                </tr>
            </thead>
            {% for project in user.salesperson.get_warning_projects %}
            {% if project.num_working == 0 %}
                <tr>
                    <td><a href="{% url 'project_detail' project.pk %}" title="{{ project.name }}">{{ project }}</a></td>
                    <td class="center">
                        <a href="{% url 'project_members' project.pk %}">
                            {{ project.get_project_members.count }}
                        </a>
                    </td>
                    <td class="center noprint">
                        <a href="{% url 'admin:eb_project_change' project.id %}?from=portal&_popup=1" target="_blank">編集</a>
                        <a href="{% url 'project_end' project.id %}?{{ params }}&from=home" onclick="return confirm('案件「{{ project.name }}」の状態を完了とします、よろしいですか？')">終了</a>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <!-- 社員稼働状況リストを見る権限がある場合 -->
    {% if perms.eb.view_member_status_list %}
    <div class="dashboard">
        <div class="dashboard-title">各担当者が担当分のメンバー稼働状況一覧</div>
        <table cellspacing="0" cellpadding="0" class="status_list">
            <thead>
                <tr class="row1">
                    <th class="subtitle">営業担当</th>
                    <th style="text-align: center;">担当メンバー</th>
                    <th style="text-align: center;">稼働中</th>
                    <th style="text-align: center;">待機中</th>
                    <th style="text-align: center;">今月リリース</th>
                    <th style="text-align: center;">来月リリース</th>
                    <th style="text-align: center;">再来月リリース</th>
                </tr>
            </thead>
            <tbody>
                {% for salesperson in salesperson_list %}
                <tr class="row2">
                    <td class="title">{{ salesperson }}</td>
                    <td class="center">
                        <a href="{% url 'employee_list' %}?status=sales&salesperson={{ salesperson.pk }}">
                            {{ salesperson.get_on_sales_members.count }}
                        </a>
                    </td>
                    <td class="center">
                        <a href="{% url 'employee_list' %}?status=working&salesperson={{ salesperson.pk }}">
                           {{ salesperson.get_working_members.count }}
                        </a>
                    </td>
                    <td class="center">
                        <a href="{% url 'employee_list' %}?status=waiting&salesperson={{ salesperson.pk }}&"
                           {% if salesperson.get_waiting_members.count > 0 %}class="red num"{% endif %}>
                            {{ salesperson.get_waiting_members.count }}
                        </a>
                    </td>
                    <td class="center">
                        <a href="{% url 'release_list' filter_list.current_ym %}?salesperson={{ salesperson.pk }}">
                            {{ salesperson.get_release_current_month.count }}
                        </a>
                    </td>
                    <td class="center">
                        <a href="{% url 'release_list' filter_list.next_ym %}?salesperson={{ salesperson.pk }}">
                            {{ salesperson.get_release_next_month.count }}
                        </a>
                    </td>
                    <td class="center">
                        <a href="{% url 'release_list' filter_list.next_2_ym %}?salesperson={{ salesperson.pk }}">
                            {{ salesperson.get_release_next_2_month.count }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <div class="dashboard">
        <div class="dashboard-title">社員状況</div>
        <table cellspacing="0" cellpadding="0">
            <tr class="row1">
                <td colspan="10" class="subtitle">社員稼働状況（先月）：</td>
            </tr>
            <tr class="row2">
                <th>社員数(営業対象内):</th>
                <td class="num"><a href="{% url 'member_list_monthly' %}?status=sales&year={{filter_list.prev_ym|slice:':4'}}&month={{filter_list.prev_ym|slice:'4:'}}"> {{ member_count_prev_month }}</a></td>
                <th>稼働中人数:</th>
                <td class="num"><a href="{% url 'member_list_monthly' %}?status=working&year={{filter_list.prev_ym|slice:':4'}}&month={{filter_list.prev_ym|slice:'4:'}}"> {{ working_member_count_prev_month }}</a></td>
                <th>待機中人数:</th>
                <td class="num"><a href="{% url 'member_list_monthly' %}?status=waiting&year={{filter_list.prev_ym|slice:':4'}}&month={{filter_list.prev_ym|slice:'4:'}}" class="red">{{ waiting_member_count_prev_month }}</a></td>
                <th></th>
                <td class="num"></td>
                <th></th>
                <td class="num"></td>
            </tr>
            <tr class="row1">
                <td colspan="10" class="subtitle">社員稼働状況（今月）：</td>
            </tr>
            <tr class="row2">
                <th>社員数(営業対象内):</th>
                <td class="num"><a href="{% url 'member_list_monthly' %}?status=sales"> {{ member_count }}</a></td>
                <th>稼働中人数:</th>
                <td class="num"><a href="{% url 'member_list_monthly' %}?status=working"> {{ working_member_count }}</a></td>
                <th>待機中人数:</th>
                <td class="num"><a href="{% url 'member_list_monthly' %}?status=waiting" class="red">{{ waiting_member_count }}</a></td>
                <th>営業対象外:</th>
                <td class="num"><a href="{% url 'employee_list' %}?status=off_sales">{{ off_sales_members_count }}</a></td>
                <th>入社予定:</th>
                <td class="num"><a href="{% url 'members_in_coming' %}">{{ members_in_coming_count }}</a></td>
            </tr>
            <tr class="row1">
                <td colspan="10" class="subtitle">社員稼働状況（来月）：</td>
            </tr>
            <tr class="row2">
                <th>社員数(営業対象内):</th>
                <td class="num"><a href="{% url 'member_list_monthly' %}?status=sales&year={{filter_list.next_ym|slice:':4'}}&month={{filter_list.next_ym|slice:'4:'}}"> {{ member_count_next_month }}</a></td>
                <th>稼働中人数:</th>
                <td class="num"><a href="{% url 'member_list_monthly' %}?status=working&year={{filter_list.next_ym|slice:':4'}}&month={{filter_list.next_ym|slice:'4:'}}"> {{ working_member_count_next_month }}</a></td>
                <th>待機中人数:</th>
                <td class="num"><a href="{% url 'member_list_monthly' %}?status=waiting&year={{filter_list.next_ym|slice:':4'}}&month={{filter_list.next_ym|slice:'4:'}}" class="red">{{ waiting_member_count_next_month }}</a></td>
                <th></th>
                <td class="num"></td>
                <th></th>
                <td class="num"></td>
            </tr>
            <tr class="row1">
                <td colspan="10" class="subtitle">社員リリース状況：</td>
            </tr>
            <tr class="row2">
                <th>今月リリース:</th>
                <td class="num">
                    <a href="{% url 'release_list' filter_list.current_ym %}"
                       class="red">{{ release_current_month_count }}</a></td>
                <th>来月リリース:</th>
                <td class="num">
                    <a href="{% url 'release_list' filter_list.next_ym %}">
                        {{ release_next_month_count }}</a></td>
                <th>再来月リリース:</th>
                <td class="num">
                    <a href="{% url 'release_list' filter_list.next_2_ym %}">
                        {{ release_next_2_month_count }}</a></td>
            </tr>
        </table>
        <div class="center">
            <img style="max-width: 1100px; max-height: 205px;" class="load-delay" src="" data-original="{% url 'member_status_bar' %}">
        </div>
    </div>
    <div class="dashboard">
        <div class="dashboard-title">協力社員状況</div>
        <table cellspacing="0" cellpadding="0">
            <tr class="row1">
                <td colspan="8" class="subtitle">協力社員稼働状況（今月）：</td>
            </tr>
            <tr class="row2">
                <th>総人数(営業対象内):</th>
                <td class="num"><a href="{% url 'members_subcontractor' %}?status=sales"> {{ subcontractor_sales_member_count }}</a></td>
                <th>稼働中人数:</th>
                <td class="num"><a href="{% url 'members_subcontractor' %}?status=working"> {{ subcontractor_working_member_count }}</a></td>
                <th>待機中人数:</th>
                <td class="num"><a href="{% url 'members_subcontractor' %}?status=waiting" class="red">{{ subcontractor_waiting_member_count }}</a></td>
                <th>営業対象外</th>
                <td class="num"><a href="{% url 'members_subcontractor' %}?status=off_sales">{{ subcontractor_off_sales_member_count }}</a></td>
            </tr>
            <tr class="row1">
                <td colspan="8" class="subtitle">協力社員リリース状況：</td>
            </tr>
            <tr class="row2">
                <th>今月リリース:</th>
                <td class="num">
                    <a href="{% url 'release_list' filter_list.current_ym %}?member__subcontractor__isnull=False"
                       class="red">{{ subcontractor_release_current_month }}</a></td>
                <th>来月リリース:</th>
                <td class="num">
                    <a href="{% url 'release_list' filter_list.next_ym %}?member__subcontractor__isnull=False">
                        {{ subcontractor_release_next_month }}</a></td>
                <th>再来月リリース:</th>
                <td class="num">
                    <a href="{% url 'release_list' filter_list.next_2_ym %}?member__subcontractor__isnull=False">
                        {{ subcontractor_release_next_2_month }}</a></td>
            </tr>
        </table>
    </div>
    <div class="dashboard">
        <div class="dashboard-title">案件状況</div>
        <table cellspacing="0" cellpadding="0">
            <tr class="row1">
                <td colspan="6" class="subtitle">案件ステータス：</td>
            </tr>
            <tr class="row2">
                <th>案件数:</th>
                <td class="num" colspan="5"><a href="{% url 'project_list' %}">{{ company.get_projects.count }}</a></td>
            </tr>
            <tr class="row2">
                <th>提案中:</th>
                <td class="num"><a href="{% url 'project_list' %}?status=1">{{ company.get_proposal_projects.count }}</a></td>
                <th>予算審査:</th>
                <td class="num"><a href="{% url 'project_list' %}?status=2">{{ company.get_examination_projects.count }}</a></td>
                <th>予算確定:</th>
                <td class="num"><a href="{% url 'project_list' %}?status=3">{{ company.get_confirmed_projects.count }}</a></td>
            </tr>
            <tr>
                <th>実施中:</th>
                <td class="num"><a href="{% url 'project_list' %}?status=4">{{ company.get_working_projects.count }}</a></td>
                <th>完了:</th>
                <td class="num"><a href="{% url 'project_list' %}?status=5">{{ company.get_finished_projects.count }}</a></td>
            </tr>
        </table>
    </div>
    <div class="dashboard">
        <div class="dashboard-title">活動情報</div>
        <table cellspacing="0" cellpadding="0">
            <tr class="row1">
                <td colspan="6" class="subtitle">これから実施する活動：</td>
            </tr>
            <tr>
                <td colspan="6" style="line-height: 0.5;">
                    {% if activities %}
                        <table class="nested_list" cellpadding="0" cellspacing="0">
                            <tr>
                                <th>案件</th>
                                <th>活動名称</th>
                                <th>日時</th>
                                <th>場所</th>
                            </tr>
                            {% for activity in activities %}
                                <tr>
                                    <td><a href="{% url 'project_detail' activity.project.pk %}#divProjectActivity">{{ activity.project }}</a></td>
                                    <td>{{ activity.name }}</td>
                                    <td>{{ activity.open_date }}</td>
                                    <td>{{ activity.address }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                    　　<table style="padding: 0px;"><tr><td class="center red">まだ何の活動情報もありません。</td></tr></table>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}