{% extends theme|add:"/base.html" %}
{% load year_month_filter %}
{% load order_by_tag %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">部署「{{ section }}」</div>
        <form method="get" action="{% url 'section_attendance' section.pk %}">
            {% now "Y" as current_year %}
            {% now "m" as current_month %}
            {% year_month_filter current_year current_month %}
            <input type="submit" value="出勤情報"/>
        </form>
    </div>
    <table cellspacing="0" cellpadding="0" class="list">
        <thead>
            <tr>
                <th>{% create_order_display "名前" "member__first_name" %}</th>
                <th>{% create_order_display "配属開始日" "start_date" %}</th>
                <th>{% create_order_display "事業部" "division" %}</th>
                <th>{% create_order_display "部署" "section" %}</th>
                <th>{% create_order_display "課・グループ" "subsection" %}</th>
                <th style="width: 80px;"></th>
            </tr>
        </thead>
        <tbody>
            {% if members_period %}
                {% for member_period in members_period %}
                    {% with current_project_member=member_period.current_projectmember_set|first %}
                    <tr class="{% cycle 'row1' 'row2' %}
                    {% ifnotequal member_period.member.is_on_sales True %}off_sales{% endifnotequal %}
                    {% ifequal member_period.member.get_project_end_date|default:'' '' %}waiting{% endifequal %}">
                        <td>
                            <a href="{% url 'member_detail' member_period.member.employee_id %}">
                                {{ member_period.member.first_name }}&nbsp;{{ member_period.member.last_name }}
                            </a>
                        </td>
                        <td>{{ member_period.start_date|date:'Y-m-d' }}</td>
                        <td>{{ member_period.division|default:'' }}</td>
                        <td>{{ member_period.section|default:'' }}</td>
                        <td>{{ member_period.subsection|default:'' }}</td>
                        <td>{{ member_period.current_projectmember_set }}
                            {% ifnotequal member_period.member.is_on_sales True %}
                                {{ member_period.member.sales_off_reason }}
                            {% else %}
                                {% ifequal member_period.member.get_project_end_date|default:'' '' %}
                                    待機
                                {% endifequal %}
                            {% endifnotequal %}
                        </td>
                    </tr>
                    {% endwith %}
                {% endfor %}
            {% else %}
                <tr class="row2"><td class="center red" colspan="8">メンバーがいません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pagination">
                        <span class="step-links">
                            {% if members_period.has_previous %}
                                <a href="?page={{ members_period.previous_page_number }}{{ params }}{{ orders }}">&lt;</a>
                            {% endif %}

                            {% if paginator.page_range|length > 1 %}
                                {% for page in paginator.page_range %}
                                    {% ifequal page members_period.number %}
                                        <span class="current">
                                            {{ page }}
                                        </span>
                                    {% else %}
                                        <a href="?page={{ page }}{{ params }}{{ orders }}">{{ page }}</a>
                                    {% endifequal %}
                                {% endfor %}
                            {% endif %}

                            {% if members_period.has_next %}
                                <a href="?page={{ members_period.next_page_number }}{{ params }}{{ orders }}">&gt;</a>
                            {% endif %}
                            <span>{{ paginator.count }} 件</span>
                        </span>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
