{% extends theme|add:"/base.html" %}
{% load year_month_filter %}
{% load order_by_tag %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">部署「{{ section }}」</div>
        <form method="get" action="{% url 'section_attendance' section.pk %}">
            {% now "Y" as current_year %}
            {% now "m" as current_month %}
            {% year_month_filter current_year current_month %}
            <input type="submit" value="出勤情報"/>
        </form>
    </div>
    <table cellspacing="0" cellpadding="0" class="list">
        <thead>
            <tr>
                <th>{% create_order_display "名前" "first_name" %}</th>
                <th>{% create_order_display "案件" "projectmember__project__name" %}</th>
                <th>開始日</th>
                <th>終了日</th>
                <th style="width: 80px;"></th>
            </tr>
        </thead>
        <tbody>
            {% if members %}
                {% for member in members %}
                    <tr class="{% cycle 'row1' 'row2' %}
                               {% ifnotequal member.is_on_sales True %}off_sales{% endifnotequal %}
                               {% ifequal member.get_project_end_date|default:'' '' %}waiting{% endifequal %}">
                        <td>
                            <a href="{% url 'member_detail' member.employee_id %}">
                                {{ member.first_name }}&nbsp;{{ member.last_name }}
                            </a>
                        </td>
                        <td>{{ member.get_current_project_member.project }}</td>
                        <td>{{ member.get_current_project_member.start_date }}</td>
                        <td>{{ member.get_current_project_member.end_date }}</td>
                        <td>
                            {% ifnotequal member.is_on_sales True %}
                                {{ member.sales_off_reason }}
                            {% else %}
                                {% ifequal member.get_project_end_date|default:'' '' %}
                                    待機
                                {% endifequal %}
                            {% endifnotequal %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="row2"><td class="center red" colspan="8">メンバーがいません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pagination">
                        <span class="step-links">
                            {% if members.has_previous %}
                                <a href="?page={{ members.previous_page_number }}{{ params }}{{ orders }}">&lt;</a>
                            {% endif %}

                            {% if paginator.page_range|length > 1 %}
                                {% for page in paginator.page_range %}
                                    {% ifequal page members.number %}
                                        <span class="current">
                                            {{ page }}
                                        </span>
                                    {% else %}
                                        <a href="?page={{ page }}{{ params }}{{ orders }}">{{ page }}</a>
                                    {% endifequal %}
                                {% endfor %}
                            {% endif %}

                            {% if members.has_next %}
                                <a href="?page={{ members.next_page_number }}{{ params }}{{ orders }}">&gt;</a>
                            {% endif %}
                            <span>{{ paginator.count }} 件</span>
                        </span>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
