{% extends theme|add:"/base.html" %}
{% load humanize %}
{% load order_by_tag %}
{% load is_repeated %}

{% block header %}
<script type="text/javascript">
    $(document).ready(function() {
        setScrollBodyHeight();
        calculate_total("total_col_01", "col_01");
        calculate_total("total_col_02", "col_02");
        calculate_total("total_col_03", "col_03");
        calculate_total("total_col_04", "col_04");
        calculate_total("total_col_05", "col_05");
        calculate_total("total_col_06", "col_06");
        calculate_total("total_col_07", "col_07");
        calculate_total("total_col_08", "col_08");
        calculate_total("total_col_09", "col_09");
        calculate_total("total_col_10", "col_10");
        calculate_total("total_col_11", "col_11");
        calculate_total("total_col_12", "col_12");
        calculate_total("total_col_13", "col_13");
    });

    function checkUploadAttendance(form) {
        var filename = $("#attendance_file").val();
        if (filename == "") {
            alert("アップロードするファイルを選択してください！");
            return false;
        }
        ext = filename.substr(filename.length - 5);
        if (ext.toLowerCase() != ".xlsx") {
            alert("エクセルファイル(.xlsx)を選択してください！");
            return false;
        }
        musk();
        return true;
    }
    function setScrollBodyHeight() {
        $("header").css("height", "47px");
        $("header div.header-top").css("display", "none");
        $("header div.header-nav ul li ul").css("top", "42px");
        $("footer").css("display", "none");

        height = window.innerHeight - $(".sub_scroll_container")[0].offsetTop - 20;
        $(".sub_scroll_container").css("height", height);
    }
    function switchDisplay() {
        if ($("#switch").text() == " 展開") {
            setDisplayExpand(true);
        } else {
            setDisplayExpand(false);
        }
        setScrollBodyHeight();
    }
    function setDisplayExpand(isExpand) {
        if (isExpand) {
            $("section .dashboard .dashboard-title").css("display", "none");
            $("section .dashboard form").css("display", "none");
            $("section div.container").css("margin", "0");
            $("section div.container").css("width", window.innerWidth);
            $("section div.scroll_container").css("width", window.innerWidth);
            $("#switch").html('<i class="fa fa-compress" aria-hidden="true"> 折畳</i>');
        } else {
            $("section .dashboard .dashboard-title").css("display", "");
            $("section .dashboard form").css("display", "");
            $("section div.container").css("margin", "0 auto");
            $("section div.container").css("width", "1100px");
            $("section div.scroll_container").css("width", "1100px");
            $("#switch").html('<i class="fa fa-expand" aria-hidden="true"></i> 展開');
        }
    }

    function calculate_total(id, cls) {
        total_obj = $("#" + id)
        total = 0
        $.each($("." + cls), function(i, obj) {
            text = $(obj).text();
            if (text.trim() != "") {
                text = text.replace(",", "");
                val = parseInt(text);
                total = total + val;
            }
        });
        total_comma = (total + "").replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        total_obj.text(total_comma);
        total_obj.css("font-size", "12px");
    }

    window.addEventListener('resize', function (event) {
        setScrollBodyHeight();
    });
</script>
<style type="text/css">
    table.attendance {
        border-top: thin solid black;
        border-right: thin solid black;
        font-size: 12px;
        table-layout: fixed;
    }
    table.attendance thead th {
        text-align: center;
        border-left: thin solid black;
        border-bottom: thin solid black;
    }
    table.attendance tbody {
        background: white;
    }
    table.attendance tbody td {
        padding-top: 2px;
        padding-bottom: 2px;
        border-left: thin solid black;
        border-bottom: thin solid black;
    }
    table.attendance tfoot {
        font-size: 13px;
        background: linear-gradient(#fff, #eee);
    }
    table.attendance tfoot tr {
        height: 30px;
    }
    table.attendance tfoot td {
        padding-top: 4px;
        padding-left: 5px;
        border-left: thin solid lightgray;
        border-bottom: thin solid lightgray;
        border-right: 0 solid lightgray;
    }
    table.attendance th.bk01 {
        background: rgb(180, 198, 231);
    }
    table.attendance th.bk02 {
        background: rgb(198, 224, 180);
    }
    table.attendance th.bk03 {
        background: rgb(255, 230, 153);
    }
    table.attendance th.bk04 {
        background: rgb(244, 176, 132);
    }
    table.attendance th.bk05 {
        background: rgb(155, 194, 230);
    }
    table.attendance th.bk06 {
        background: rgb(255, 255, 0);
    }
    table.attendance th, td {
        padding: 0 3px;
        overflow: hidden;
        white-space: nowrap;
    }
    table.attendance td.error {
        background: red;
        color: white;
    }
    div.error {
        background: red;
        padding: 4px 6px;
        margin-bottom: 10px;
        border: 3px solid white;
        color: white;
    }
    table.attendance tbody tr:hover {
        background-color: LightGreen;
    }
    table.attendance tbody tr:hover td {
        background-color: transparent;
    }
    .prev_month_data {
        background-color: darkorange;
    }
</style>
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">{{ title }}</div>
        <form onsubmit="return checkUploadAttendance(this);" method="post"  enctype="multipart/form-data">
            {% if perms.eb.input_attendance %}
            <div>{% csrf_token %}</div>
            <div style="color: gray;">既に請求書作成済みの出勤情報は上書きしません。</div>
            <input type="file" id="attendance_file" name="attendance_file"/>
            <input type="submit" value="勤怠情報アップロード">
            {% endif %}
            <div class="example" style="float: right;">
                <span>凡例:</span>
                <div class="lump_project">【一括】一括案件</div>
                <div class="project_requested">請求書作成済</div>
                <div class="error" style="padding: 0px 2px;">エラー発生</div>
                <div class="prev_month_data" style="padding: 0px 2px;">先月のデータ</div>
            </div>
            <div class="clear"></div>
        </form>
        <div class="dashboard-tail">
            {% if theme == "default" %}
            <a id="switch" href="javascript:switchDisplay()"><i class="fa fa-expand" aria-hidden="true"></i> 展開</a>
            {% endif %}
            <a href="?year={{ prev_month|date:'Y' }}&month={{ prev_month|date:'m' }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i> 先月</a>
            <a href="?year={{ next_month|date:'Y' }}&month={{ next_month|date:'m' }}">来月 <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            <a href="{% url 'download_section_attendance' section.pk year month %}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> ダウンロード</a>
        </div>
    </div>
    {% if has_error %}
        <div class="error">
            アップロードするデータにエラーが発生している。エラーのないデータは正常にDBに取込みました。
        </div>
    {% endif %}
    {% if format_error %}
        <div class="error">
            フォーマット不正でエラーになりました、最新のテンプレートでアップロードしてください。
        </div>
    {% endif %}
    <div class="scroll_container">
        <table class="attendance" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="bk01" rowspan="2" style="width: 20px;">No</th>
                    <th class="bk01" colspan="6">基本データ</th>
                    <th class="bk02" colspan="3">案件情報</th>
                    <th class="bk03" colspan="6">勤務情報</th>
                    <th class="bk04" colspan="3">売上</th>
                    <th class="bk05" colspan="9">原価</th>
                    <th class="bk06" rowspan="2">利益</th>
                </tr>
                <tr>
                    <!--基本データ-->
                    <th class="bk01">{% create_order_display "社員番号" "member__employee_id" %}</th>
                    <th class="bk01">{% create_order_display "名前" "member__first_name" %}</th>
                    <th class="bk01">所在部署</th>
                    <th class="bk01">{% create_order_display "所属" "member__subcontractor__name" %}</th>
                    <th class="bk01">社会保険<br/>加入有無</th>
                    <th class="bk01">{% create_order_display "契約形態" "member__member_type" %}</th>
                    <!--案件情報-->
                    <th class="bk02">{% create_order_display "案件名" "project__name" %}</th>
                    <th class="bk02">{% create_order_display "顧客" "project__client__name" %}</th>
                    <th class="bk02">契約種類</th>
                    <!--勤務情報-->
                    <th class="bk03 red">勤務時間</th>
                    <th class="bk03 red">勤務日数</th>
                    <th class="bk03 red">深夜日数</th>
                    <th class="bk03 red">客先立替金</th>
                    <th class="bk03 red">立替金</th>
                    <th class="bk03 red">勤務交通費</th>
                    <!--売上-->
                    <th class="bk04">税込</th>
                    <th class="bk04">税別</th>
                    <th class="bk04">経費</th>
                    <th class="bk05">月給</th>
                    <th class="bk05 red">手当</th>
                    <th class="bk05">深夜手当</th>
                    <th class="bk05">残業／控除</th>
                    <th class="bk05">交通費</th>
                    <th class="bk05 red">経費</th>
                    <th class="bk05">雇用／労災</th>
                    <th class="bk05">健康／厚生</th>
                    <th class="bk05">原価合計</th>
                </tr>
            </thead>
        </table>
        <div class="sub_scroll_container">
            <table class="attendance" cellspacing="0" cellpadding="0">
                <tbody>
                    {% if project_members %}
                        {% for project_member, is_own, msg in project_members %}
                            {% is_repeated project_member.member.pk as repeated %}
                            <tr>
                                <td style="text-align:center; width: 20px;">{{ forloop.counter }}</td>
                                <!--基本データ-->
                                <td>{{ project_member.member.employee_id }}</td>
                                <td>
                                    <a href="{% url 'member_detail' project_member.member.employee_id %}">
                                        {{ project_member.member }}
                                    </a>
                                </td>
                                <td>{{ project_member.section_name }}</td>
                                <td>
                                    <div style="width: 120px; overflow: hidden; white-space: nowrap;">
                                    {% if project_member.member.company %}
                                        {{ project_member.member.company }}
                                    {% else %}
                                        {{ project_member.member.subcontractor }}
                                    {% endif %}
                                    </div>
                                </td>
                                {% if msg %}
                                    <td colspan="23" class="error">{{ msg }}</td>
                                {% else %}
                                    {% with attendance=project_member.current_attendance_set|first prev_attendance=project_member.prev_attendance_set|first %}
                                    {% with project_request_detail=project_member.project_request_detail_set|first %}
                                        <td class="center">
                                            {% if attendance.get_contract.endowment_insurance == "1" %}
                                                ○
                                            {% endif %}
                                        </td>
                                        <td>{{ project_member.member.get_member_type_display }}</td>
                                        <!--案件情報-->
                                        <td title="{{ project_member.project }}"
                                            {% if project_member.project.is_lump %}class="lump_project"{% endif %}>
                                            <div style="width: 160px; overflow: hidden; white-space: nowrap;">
                                                <a href="{% url 'project_detail' project_member.project.pk %}">
                                                {% if project_member.project.is_lump %}【一括】{% endif %}{{ project_member.project }}
                                                </a>
                                            </div>
                                        </td>
                                        <td title="{{ project_member.project.client }}">
                                            <div style="width: 120px; overflow: hidden; white-space: nowrap;">
                                            {{ project_member.project.client }}
                                            </div>
                                        </td>
                                        <td>
                                            {% if project_member.project.is_lump %}
                                                一括
                                            {% else %}
                                                SES
                                            {% endif %}
                                        </td>
                                        <td class="num {% if project_request_detail %}project_requested{% endif %}">{{ attendance.total_hours }}</td>
                                        <td class="num {% if project_request_detail %}project_requested{% endif %}">{{ attendance.total_days|default:'' }}</td>
                                        <td class="num {% if project_request_detail %}project_requested{% endif %}">{{ attendance.night_days|default:'' }}</td>
                                        <td class="num {% if project_request_detail %}project_requested{% endif %}">{{ attendance.advances_paid_client|default:''|intcomma }}</td>
                                        <td class="num {% if project_request_detail %}project_requested{% endif %}">{{ attendance.advances_paid|default:''|intcomma }}</td>
                                        <!--交通費-->
                                        {% if attendance.traffic_cost %}
                                            <td class="num {% if project_request_detail %}project_requested{% endif %}">{{ attendance.traffic_cost|default:''|intcomma }}</td>
                                        {% else %}
                                            {% if prev_attendance and prev_attendance.traffic_cost %}
                                                <td class="num prev_month_data {% if project_request_detail %}project_requested{% endif %}">
                                                    {{ prev_attendance.traffic_cost|default:''|intcomma }}
                                                </td>
                                            {% else %}
                                                <td class=" {% if project_request_detail %}project_requested{% endif %}"></td>
                                            {% endif %}
                                        {% endif %}
                                        {% if project_request_detail %}
                                            {% if is_own %}
                                                <!--売上-->
                                                <td class="num project_requested col_01">{{ project_request_detail.get_all_price|floatformat:0|intcomma }}</td>
                                                <td class="num project_requested col_02">{{ project_request_detail.total_price|floatformat:0|intcomma }}</td>
                                                <td class="num project_requested col_03">{{ project_request_detail.expenses_price|floatformat:0|intcomma }}</td>
                                                <td class="num col_04">{{ attendance.get_cost|intcomma }}</td>
                                                {% if attendance.allowance %}
                                                    <td class="num col_05">{{ attendance.allowance|default:''|intcomma }}</td>
                                                {% else %}
                                                    {% if prev_attendance and prev_attendance.allowance %}
                                                        <td class="num prev_month_data col_05">{{ prev_attendance.allowance|default:''|intcomma }}</td>
                                                    {% else %}
                                                        <td class="num"></td>
                                                    {% endif %}
                                                {% endif %}
                                                <!--深夜手当-->
                                                <td class="num col_06">
                                                    {{ attendance.get_night_allowance|default:''|intcomma }}
                                                </td>
                                                <!--残業／控除-->
                                                <td class="num col_07 {% if attendance.get_overtime_cost < 0 %}red{% endif %}">{{ attendance.get_overtime_cost|default:''|intcomma }}</td>
                                                <!--交通費-->
                                                <td class="num col_08">{{ attendance.traffic_cost|default:''|intcomma }}</td>
                                                <!--経費(原価)-->
                                                <td class="num col_09">{{ attendance.expenses|default:''|intcomma }}</td>
                                                <td class="num col_10">{{ attendance.get_employment_insurance|default:''|floatformat:0|intcomma }}</td>
                                                <td class="num col_11">{{ attendance.get_health_insurance|default:''|floatformat:0|intcomma }}</td>
                                                <!--原価合計-->
                                                <td class="num col_12">{{ attendance.get_all_cost|default:''|floatformat:0|intcomma }}</td>
                                                <td class="num col_13 {% if attendance.get_profits < 0 %}red{% endif %}">{{ attendance.get_profits|floatformat:0|intcomma }}</td>
                                            {% else %}
                                                <td class="project_requested" style="color: lightblue;">******</td>
                                                <td class="project_requested" style="color: lightblue;">******</td>
                                                <td class="project_requested" style="color: lightblue;">******</td>
                                                <td style="color: lightblue;">******</td>
                                                <td style="color: lightblue;">******</td>
                                                <td style="color: lightblue;">******</td>
                                                <td style="color: lightblue;">******</td>
                                                <td style="color: lightblue;">******</td>
                                                <td style="color: lightblue;">******</td>
                                                <td style="color: lightblue;">******</td>
                                                <td style="color: lightblue;">******</td>
                                                <td style="color: lightblue;">******</td>
                                                <td style="color: lightblue;">******</td>
                                            {% endif %}
                                        {% else %}
                                            <!-- 一括案件 -->
                                            {% if project_member.project.is_lump %}
                                                <td class="num col_01">{{ project_member.project.all_price_lump|floatformat:0|intcomma }}</td>
                                                <td class="num col_02">{{ project_member.project.lump_amount|floatformat:0|intcomma }}</td>
                                                <td class="num col_03">0</td>
                                                <td class="num col_04 {% if repeated %}crossed{% endif %}">{{ attendance.get_cost|intcomma }}</td>
                                                {% if attendance.allowance %}
                                                    <td class="num col_05">{{ attendance.allowance|default:''|intcomma }}</td>
                                                {% else %}
                                                    {% if prev_attendance and prev_attendance.allowance %}
                                                        <td class="num prev_month_data col_05">{{ prev_attendance.allowance|default:''|intcomma }}</td>
                                                    {% else %}
                                                        <td class="num"></td>
                                                    {% endif %}
                                                {% endif %}
                                                <!--深夜手当-->
                                                <td class="num col_06">
                                                    {% if project_member.member.member_type == 2 %}
                                                        {{ attendance.get_night_allowance|default:''|intcomma }}
                                                    {% endif %}
                                                </td>
                                                <td class="num col_07"></td>
                                                <!--交通費-->
                                                <td class="num col_08">{{ attendance.traffic_cost|default:''|intcomma }}</td>
                                                <!--経費(原価)-->
                                                <td class="num col_09">{{ attendance.expenses|default:''|intcomma }}</td>
                                                <td class="num col_10">{{ attendance.get_employment_insurance|default:''|floatformat:0|intcomma }}</td>
                                                <td class="num col_11">{{ attendance.get_health_insurance|default:''|floatformat:0|intcomma }}</td>
                                                <!--原価合計-->
                                                <td class="num col_12">{{ attendance.get_all_cost|default:''|floatformat:0|intcomma }}</td>
                                                <td class="num col_13 {% if attendance.get_profits < 0 %}red{% endif %}">{{ attendance.get_profits|floatformat:0|intcomma }}</td>
                                            {% else %}
                                                <!--売上-->
                                                <td class="num" colspan="13"></td>
                                            {% endif %}
                                        {% endif %}
                                    {% endwith %}
                                    {% endwith %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="row2"><td class="center red" colspan="29">メンバーがいません。</td></tr>
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="16">
                            {{ project_members|length }} 件
                        </td>
                        <td class="num" id="total_col_01"></td>
                        <td class="num" id="total_col_02"></td>
                        <td class="num" id="total_col_03"></td>
                        <td class="num" id="total_col_04"></td>
                        <td class="num" id="total_col_05"></td>
                        <td class="num" id="total_col_06"></td>
                        <td class="num" id="total_col_07"></td>
                        <td class="num" id="total_col_08"></td>
                        <td class="num" id="total_col_09"></td>
                        <td class="num" id="total_col_10"></td>
                        <td class="num" id="total_col_11"></td>
                        <td class="num" id="total_col_12"></td>
                        <td class="num" id="total_col_13"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
