{% extends theme|add:"/base.html" %}
{% load humanize %}
{% load order_by_tag %}

{% block header %}
    <script type="text/javascript">
        window.onload = function() {
            init_select("name__icontains");
        };
    </script>
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">なにをしたいのですか？</div>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>出勤時間</th>
                <th>人数</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
                {% for object in object_list %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href="{% url 'subcontractor_members_cost_monthly' object.year object.month %}">{{ object.year }}年{{ object.month }}月</a></td>
                        <td>{{ object.total_hours }}</td>
                        <td>{{ object.member_count }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="row1"><td class="center red" colspan="4">協力会社がありません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>出勤時間</th>
                <th>人数</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}