{% extends theme|add:"/base.html" %}
{% load humanize %}

{% block header %}
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/data.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript">
        $(function () {
            Highcharts.setOptions({
                lang: {
                    thousandsSep: ','
                }
            });

            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '会社の月別の売上情報'
                },
                xAxis: {
                    categories: {{ month_list|safe }},
                    labels: {
                        formatter: function () {
                            return '<a href="/eb/turnover/charts/' + this.value + '.html">' + this.value + '</a>'
                        },
                        useHTML: true
                    }
                },
                yAxis: {
                    allowDecimals: false,
                    title: {
                        text: '金額 (円)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0;text-align:right;"><b>{point.y:,.0f} 円</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                    }
                },
                series: [{
                    name: '売上',
                    data: {{ turnover_amount_list }}
                }]
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">月間売上情報</div>
        <div id="container" style="min-width: 250px; height: 260px; margin: 0 auto"></div>
    </div>
    <table id="tbl_turnover_monthly" class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <!--<th>コスト</th>-->
                <th>売上（税別）</th>
                <th>税金</th>
                <th>精算</th>
                <th>合計</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for turnover in company_turnover %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>
                    <a href="{% url 'turnover_members_monthly' turnover.ym %}">{{ turnover.year }}年{{ turnover.month }}月</a>
                </td>
                <!--<td style="text-align: right;">{{ turnover.cost_amount|intcomma }}</td>-->
                <td style="text-align: right;">{{ turnover.turnover_amount|intcomma }}</td>
                <td style="text-align: right;">{{ turnover.tax_amount|intcomma }}</td>
                <td style="text-align: right;">{{ turnover.expenses_amount|intcomma }}</td>
                <td style="text-align: right;">{{ turnover.amount__sum|intcomma }}</td>
                <td class="center"><a href="{% url 'turnover_clients_monthly' turnover.year turnover.month %}">お客様別詳細</a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <!--<th>コスト</th>-->
                <th>売上（税別）</th>
                <th>税金</th>
                <th>精算</th>
                <th>合計</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
{% endblock %}
