{% extends theme|add:"/base.html" %}
{% load humanize %}

{% block header %}
<script type="text/javascript">
    $(document).ready(function () {
          setTimeout(function () {
            $('.load-delay').each(function () {
                var imagex = $(this);
                var imgOriginal = imagex.data('original');
                $(imagex).attr('src', imgOriginal);
            });
        }, 200);
    });
</script>
{% endblock %}

{% block content %}
    <div class="dashboard print">
        <div class="dashboard-title">
            {% if data_type == "1" %}
                {{ year }}年01月～{{ year }}年12月のお客様別の売上情報
            {% else %}
                {{ year }}年04月～{{ year|add:'1' }}年03月お客様別の売上情報
            {% endif %}
        </div>
        <div class="center print">
            <img style="width: 1025px; height: 556px;" class="load-delay" src="" data-original="{% url 'image_turnover_clients_yearly_area_plot' year %}?data_type={{ data_type }}">
        </div>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>お客様名称</th>
                <th>売上（税抜）</th>
                <th>税金</th>
                <th>精算</th>
                <th>合計</th>
            </tr>
        </thead>
        <tbody>
            {% if clients_turnover %}
                {% for client_turnover in clients_turnover %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href="{% url 'turnover_client_yearly' client_turnover.client.pk %}">{{ client_turnover.client.name }}</a></td>
                        <td style="text-align: right; background: linear-gradient(90deg, transparent 0%, transparent 0.0%, #9adaaf 0.0%, #9adaaf {{ client_turnover.per }}, transparent {{ client_turnover.per }})">
                            {{ client_turnover.attendance_amount|intcomma }}
                        </td>
                        <td style="text-align: right">{{ client_turnover.attendance_tex|intcomma }}</td>
                        <td style="text-align: right">{{ client_turnover.expenses_amount|intcomma }}</td>
                        <td style="text-align: right">{{ client_turnover.all_amount|intcomma }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="row1"><td class="center red" colspan="5">売上情報がありません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td>{{ clients_turnover|length }} 件</td>
                <td style="text-align: right"> {{ summary.attendance_amount|intcomma }}</td>
                <td style="text-align: right"> {{ summary.attendance_tex|intcomma }}</td>
                <td style="text-align: right"> {{ summary.expenses_amount|intcomma }}</td>
                <td style="text-align: right"> {{ summary.all_amount|intcomma }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}