{% extends theme|add:"/base.html" %}
{% load order_by_tag %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">部署「{{ section }}」</div>
        <form method="get" action="{% url 'section_attendance' section.pk %}">
            <span>対象年月</span>
            {% now "Y" as current_year %}
            {% now "m" as current_month %}
            <select id="year" name="year">
                {% for y in year_list %}
                    {% ifequal y|stringformat:"i" current_year %}
                        <option selected value="{{ y }}">{{ y }}</option>
                    {% else %}
                        <option value="{{ y }}">{{ y }}</option>
                    {% endifequal %}
                {% endfor %}
            </select>
            <select id="month" name="month">
                <option {% ifequal current_month '01' %}selected{% endifequal %} value="01">01</option>
                <option {% ifequal current_month '02' %}selected{% endifequal %} value="02">02</option>
                <option {% ifequal current_month '03' %}selected{% endifequal %} value="03">03</option>
                <option {% ifequal current_month '04' %}selected{% endifequal %} value="04">04</option>
                <option {% ifequal current_month '05' %}selected{% endifequal %} value="05">05</option>
                <option {% ifequal current_month '06' %}selected{% endifequal %} value="06">06</option>
                <option {% ifequal current_month '07' %}selected{% endifequal %} value="07">07</option>
                <option {% ifequal current_month '08' %}selected{% endifequal %} value="08">08</option>
                <option {% ifequal current_month '09' %}selected{% endifequal %} value="09">09</option>
                <option {% ifequal current_month '10' %}selected{% endifequal %} value="10">10</option>
                <option {% ifequal current_month '11' %}selected{% endifequal %} value="11">11</option>
                <option {% ifequal current_month '12' %}selected{% endifequal %} value="12">12</option>
            </select>
            <input type="submit" value="出勤情報"/>
        </form>
    </div>
    <table cellspacing="0" cellpadding="0" class="list">
        <thead>
            <tr>
                <th>{% create_order_display "名前" "first_name" %}</th>
                <th>{% create_order_display "案件" "projectmember__project__name" %}</th>
                <th>開始日</th>
                <th>終了日</th>
                <th style="width: 80px;"></th>
            </tr>
        </thead>
        <tbody>
            {% if members %}
                {% for member in members %}
                    <tr class="{% cycle 'row1' 'row2' %}
                               {% ifnotequal member.is_on_sales True %}off_sales{% endifnotequal %}
                               {% ifequal member.get_project_end_date|default:'' '' %}waiting{% endifequal %}">
                        <td>
                            <a href="{% url 'member_detail' member.employee_id %}">
                                {{ member.first_name }}&nbsp;{{ member.last_name }}
                            </a>
                        </td>
                        <td>{{ member.get_current_project_member.project }}</td>
                        <td>{{ member.get_current_project_member.start_date }}</td>
                        <td>{{ member.get_current_project_member.end_date }}</td>
                        <td>
                            {% ifnotequal member.is_on_sales True %}
                                {{ member.sales_off_reason }}
                            {% else %}
                                {% ifequal member.get_project_end_date|default:'' '' %}
                                    待機
                                {% endifequal %}
                            {% endifnotequal %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="row2"><td class="center red" colspan="8">メンバーがいません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pagination">
                        <span class="step-links">
                            {% if members.has_previous %}
                                <a href="?page={{ members.previous_page_number }}{{ params }}">&lt;</a>
                            {% endif %}

                            {% if paginator.page_range|length > 1 %}
                                {% for page in paginator.page_range %}
                                    {% ifequal page members.number %}
                                        <span class="current">
                                            {{ page }}
                                        </span>
                                    {% else %}
                                        <a href="?page={{ page }}{{ params }}">{{ page }}</a>
                                    {% endifequal %}
                                {% endfor %}
                            {% endif %}

                            {% if members.has_next %}
                                <a href="?page={{ members.next_page_number }}{{ params }}">&gt;</a>
                            {% endif %}
                            <span>{{ paginator.count }} 件</span>
                        </span>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
