{% extends "admin/base_site.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="導入"/>
    </form>
    {% if show_result %}
    <table>
        {% if message_list %}
            {% for level, name, birthday, address, message in message_list %}
                {% ifequal level 'ERROR' %}
                <tr style="color: red;">
                {% else %}
                    {% ifequal level 'WARN' %}
                    <tr style="color: #FFC100;">
                    {% else %}
                    <tr>
                    {% endifequal %}
                {% endifequal %}
                    <td>{{ name }}</td>
                    <td>{{ birthday }}</td>
                    <td>{{ address }}</td>
                    <td>{{ message }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">正常完了しました。</td>
            </tr>
        {% endif %}
    </table>
    {% endif %}
{% endblock %}
