{% extends "base.html" %}

{% block header %}
    <style type="text/css">
        div.forbidden {
            background: white;
        }
        div.forbidden h1 {
            text-align: center;
            padding: 50px 0;
            font-size: 72px;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            text-shadow: 3px 3px 0 #000,
                        -1px -1px 0 #000,
                         1px -1px 0 #000,
                        -1px 1px 0 #000,
                         1px 1px 0 #000;
            }
    </style>
{% endblock %}

{% block content %}
<div class="forbidden">
    <h1>FORBIDDEN!</h1>
</div>
{% endblock %}
