<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>

    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/section.css">
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/static/css/print.css" media="print">

    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    {% block header %}{% endblock %}
</head>

<body>
	<header>
        <div class="container">
            <div class="header-top">
                <img class="logo" src="/static/img/logo.gif" />
                <span style="color: gray;">E-Business Inc.</span>
                <div class="login-info">
                    {% if not user.is_anonymous %}
                        ようこそ&nbsp;&nbsp;
                        <b>
                            {% if user.salesperson %}
                                {{ user.salesperson }}
                            {% else %}
                                {{ user }}
                            {% endif %}
                        </b>&nbsp;&nbsp;
                        {{ user.salesperson.get_member_type_display }}
                        <br/>
                        <a href="{% url 'logout_view' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'admin:login' %}?next={{ request.get_full_path }}">ログイン</a>
                    {% endif %}
                </div>
            </div>
            <div class="header-nav">
                <ul>
                    <li><a href="{% url 'index' %}">HOME</a></li>
                    <li><a href="{% url 'employee_list' %}">要員一覧</a>
                        <ul>
                            <li><a href="{% url 'change_list' %}">入退場リスト</a></li>
                            <li><a href="{% url 'release_list_current' %}">リリース状況一覧</a></li>
                            <li><a href="{% url 'attendance_list_monthly' %}">月別出勤情報</a></li>
                            <li><a href="{% url 'map_position' %}">社員住所地図</a></li>
                            <li><a href="{% url 'sync_members' %}">社員導入</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'project_list' %}">案件一覧</a>
                        <ul>
                            <li><a href="{% url 'project_order_list' %}">案件の注文情報</a></li>
                            <li><a href="{% url 'section_list' %}">部署情報一覧</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'subcontractor_list' %}">協力会社</a></li>
                    {% if perms.eb.view_turnover %}
                    <li><a href="{% url 'turnover_company_monthly' %}">売上情報</a></li>
                    {% endif %}
                    <li><a href="{% url 'admin:index' %}">管理サイト</a>
                        <ul>
                            <li><a href="{% url 'eboa_admin:index' %}">EBOAデータ参照</a></li>
                            <li><a href="{% url 'del_data_admin:index' %}">削除したデータ</a></li>
                            <li><a href="{% url 'batch_list' %}">バッチ一覧</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
        {% block content %}{% endblock %}
        </div>
    </section>
	<footer>
        <div class="container">
            {% ifequal request.user.username 'admin' %}
            <a href="{% url 'history' %}">Click here to see history</a>
            {% endifequal %}
            <a href="{% url 'issues' %}">課題管理票</a>
        </div>
    </footer>
</body>
</html>