{% extends "admin/base_site.html" %}

{% block content %}
<form id="form1" method="post" action="{% url 'batch_list' %}">
    <div style="display: none;">
        {% csrf_token %}
        <input type="hidden" id="batch_name" name="batch_name" value="">
        <input type="submit"/>
    </div>
    <table>
        <thead>
            <tr>
                <th>バッチID</th>
                <th>バッチ名</th>
                <th>有効</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for batch in batches %}
            <tr>
                <td style="padding-top: 13px;">{{ batch.name }}</td>
                <td style="padding-top: 13px;">{{ batch.title }}</td>
                <td style="padding-top: 12px;">
                    {% if batch.is_active %}
                    <img width="12px" src="/static/img/icon-normal.png"/>
                    {% else %}
                    <img width="12px" src="/static/img/icon-warn.png"/>
                    {% endif %}
                </td>
                <td>
                    {% if batch.is_active %}
                    <input type="button" id="{{ batch.name }}" name="{{ batch.name }}" value="実行"
                           onclick="execute_batch('{{ batch.name }}')"
                           style="padding: 2px 15px;"/>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        function execute_batch(name) {
            document.getElementById("batch_name").value = name;
            document.getElementById("form1").submit();
        }
    </script>
</form>
{% endblock %}
