{% extends "base.html" %}
{% load order_by_tag %}

{% block header %}
    <script type="text/javascript">
        window.onload = function() {
            init_select("status");
            init_select("first_name__contains");
            init_select("last_name__contains");
            init_select("business_status");
            init_select("salesperson");
            init_select("section");
        };
    </script>
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">なにをしたいのですか？</div>
        <form action="" method="get">
            <span>姓: </span><input type="text" id="first_name__contains" name="first_name__contains" style="width: 50px;"/>
            <span>名: </span><input type="text" id="last_name__contains" name="last_name__contains" style="width: 50px;"/>
            <span>部署：</span>
            <select id="section" name="section">
                <option value="">すべて</option>
                {% for section in sections %}
                    <option value="{{ section.pk }}">{{ section.name }}</option>
                {% endfor %}
            </select>
            <span>稼働状態: </span>
            <select id="status" name="status">
                <option value="">すべて</option>
                <option value="working">稼働中</option>
                <option value="waiting">待機</option>
                <option value="off_sales">営業対象外</option>
            </select>
            <!--<span>営業状態:</span>-->
            <!--<select id="business_status" name="business_status">-->
                <!--<option value="">すべて</option>-->
                <!--<option value="未提案">未提案</option>-->
                <!--<option value="営業中">営業中</option>-->
            <!--</select>-->
            <span>営業員:</span>
            <select id="salesperson" name="salesperson">
                <option value="">すべて</option>
                {% for sales in salesperson %}
                    <option value="{{ sales.pk }}">{{ sales }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Filter" />
            <a href="{{ request.path }}">クリア</a>
        </form>
        {% if page_type != "members_in_coming" %}
        <div class="dashboard-tail">
            <!--<a href="?download=member_list{{ params }}" target="_blank">要員一覧ダウンロード</a>-->
            <!--<a href="{% url 'upload_file' %}" target="_blank">履歴書をアップロード</a>-->
            <a href="{% url 'admin:eb_member_add' %}?from=portal&_popup=1" target="_blank">要員を追加</a>
        </div>
        {% endif %}
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>{% create_order_display "名前" "first_name" %}</th>
                <th>所属</th>
                <th>{% create_order_display "協力会社" "subcontractor__name" %}</th>
                <th style="width: 50px;">稼働</th>
                <th style="width: 120px;">
                    {% if page_type == "members_in_coming" %}
                        入社年月日
                    {% else %}
                        リリース予定日
                    {% endif %}
                </th>
                <th style="width: 90px;">営業員</th>
                <!--<th>営業状態</th>-->
                <th style="width: 99px;">
                    {% if page_type == "off_sales" %}
                        営業対象外理由
                    {% endif %}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if members %}
                {% for member in members %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>
                            <a href="{% url 'member_detail' member.employee_id %}">
                                {{ member.first_name }}&nbsp;{{ member.last_name }}
                            </a>
                        </td>
                        <td>{{ member.get_section }}</td>
                        <td>{{ member.subcontractor|default:"" }}</td>
                        <td class="center">
                            {% if member.get_project_end_date %}
                                <a href="?status=working{{ params }}"><img width="12px" src="/static/img/icon-normal.png"/></a>
                            {% else %}
                                <a href="?status=waiting{{ params }}"><img width="12px" src="/static/img/icon-warn.png"/></a>
                            {% endif %}
                        </td>
                        <td>
                            {% if page_type == "members_in_coming" %}
                                {{ member.join_date }}
                            {% else %}
                                {{ member.get_project_end_date|date:"Y-m-d" }}
                            {% endif %}
                        </td>
                        <td>
                            {% if member.get_salesperson %}
                                <a href="?salesperson={{ member.get_salesperson.pk }}">{{ member.get_salesperson }}</a>
                            {% endif %}
                        </td>
                        <!--<td class="center">-->
                            <!--{% ifequal member.get_business_status "営業中" %}-->
                                <!--<a href="{% url 'member_project_list' member.employee_id %}?status=1">営業中</a>-->
                            <!--{% else %}-->
                                <!--{{ member.get_business_status }}-->
                            <!--{% endifequal %}-->
                        <!--</td>-->
                        <td class="center">
                            {% if page_type == "off_sales" %}
                                {{ member.sales_off_reason }}
                            {% else %}
                                {% ifequal member.get_business_status "未提案" %}
                                    <a href="{% url 'recommended_project' member.employee_id %}">推薦された案件</a>
                                {% endifequal %}
                            {% endif %}
                        </td>
                        <td class="center"><a href="{% url 'admin:eb_member_change' member.pk %}?from=portal&_popup=1" target="_blank">編集</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="row2"><td class="center red" colspan="8">該当する要員がいません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pagination">
                        <span class="step-links">
                            {% if members.has_previous %}
                                <a href="?page={{ members.previous_page_number }}{{ params }}">&lt;</a>
                            {% endif %}

                            {% if paginator.page_range|length > 1 %}
                                {% for page in paginator.page_range %}
                                    {% ifequal page members.number %}
                                        <span class="current">
                                            {{ page }}
                                        </span>
                                    {% else %}
                                        <a href="?page={{ page }}{{ params }}">{{ page }}</a>
                                    {% endifequal %}
                                {% endfor %}
                            {% endif %}

                            {% if members.has_next %}
                                <a href="?page={{ members.next_page_number }}{{ params }}">&gt;</a>
                            {% endif %}
                            <span>{{ paginator.count }} 件</span>
                        </span>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}