{% extends "base.html" %}

{% block header %}
    <script type="text/javascript">
        window.onload = function() {
            init_select("status");
            init_select("first_name");
            init_select("last_name");
            init_select("business_status");
            init_select("salesperson");
        };
    </script>
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">なにをしたいのですか？</div>
        <form action="" method="get">
            <span>姓: </span><input type="text" id="first_name" name="first_name" style="width: 50px;"/>
            <span>名: </span><input type="text" id="last_name" name="last_name" style="width: 50px;"/>
            <span>稼働状態: </span>
            <select id="status" name="status">
                <option value="">すべて</option>
                <option value="working">稼働中</option>
                <option value="waiting">待機</option>
            </select>
            <span>営業状態:</span>
            <select id="business_status" name="business_status">
                <option value="">すべて</option>
                <option value="未提案">未提案</option>
                <option value="営業中">営業中</option>
            </select>
            <span>営業員:</span>
            <select id="salesperson" name="salesperson">
                <option value="">すべて</option>
                {% for sales in salesperson %}
                    <option value="{{ sales.employee_id }}">{{ sales }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Filter" />
            <a href="/admin/eb/member/add/" target="_blank" class="button">要員を追加</a>
        </form>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>
                    {% if dict_order.first_name.is_in_ordering %}
                        <div class="sortoptions">
                            <a class="sortremove" href="?o={{ dict_order.first_name.url_list_removed }}{{ params }}"></a>
                            <span class="sortpriority">{{ dict_order.first_name.priority }}</span>
                            <a class="{% if dict_order.first_name.is_asc %}descending{% else %}ascending{% endif %}"
                               href="?o={{ dict_order.first_name.url }}{{ params }}"></a>
                        </div>
                    {% endif %}
                    <div class="text">
                        <a href="?o={{ dict_order.first_name.url }}{{ params }}">名前</a>
                    </div>
                    <div class="clear"></div>
                </th>
                <th>
                    {% if dict_order.section.is_in_ordering %}
                        <div class="sortoptions">
                            <a class="sortremove" href="?o={{ dict_order.section.url_list_removed }}{{ params }}"></a>
                            <span class="sortpriority">{{ dict_order.section.priority }}</span>
                            <a class="{% if dict_order.section.is_asc %}descending{% else %}ascending{% endif %}"
                               href="?o={{ dict_order.section.url }}{{ params }}"></a>
                        </div>
                    {% endif %}
                    <div class="text">
                        <a href="?o={{ dict_order.section.url }}{{ params }}">所属</a>
                    </div>
                    <div class="clear"></div>
                </th>
                <th>協力会社</th>
                <th style="width: 50px;">稼働状態</th>
                <th style="width: 120px;">リリース予定日</th>
                <th style="width: 90px;">
                    {% if dict_order.salesperson__first_name.is_in_ordering %}
                        <div class="sortoptions">
                            <a class="sortremove" href="?o={{ dict_order.salesperson__first_name.url_list_removed }}{{ params }}"></a>
                            <span class="sortpriority">{{ dict_order.salesperson__first_name.priority }}</span>
                            <a class="{% if dict_order.salesperson__first_name.is_asc %}descending{% else %}ascending{% endif %}"
                               href="?o={{ dict_order.salesperson__first_name.url }}{{ params }}"></a>
                        </div>
                    {% endif %}
                    <div class="text">
                        <a href="?o={{ dict_order.salesperson__first_name.url }}{{ params }}">営業員</a>
                    </div>
                    <div class="clear"></div>
                </th>
                <th>営業状態</th>
                <th style="width: 99px;"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if members %}
                {% for member in members %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>
                            <a href="{% url 'member_detail' member.employee_id %}">
                                {{ member.first_name }}&nbsp;{{ member.last_name }}
                            </a>
                        </td>
                        <td>
                            {% if member.section %}
                                <a href="{% url 'section' member.section.name %}">
                                    {{ member.section.name }}
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ member.subcontractor|default:"" }}</td>
                        <td class="center">
                            {% if member.get_project_end_date %}
                                <a href="?status=working{{ params }}"><img width="12px" src="/static/img/icon-normal.png"/></a>
                            {% else %}
                                <a href="?status=waiting{{ params }}"><img width="12px" src="/static/img/icon-warn.png"/></a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'release_list' %}?period={{ member.get_project_end_date|date:'Ym' }}">
                                {{ member.get_project_end_date|date:"Y-m-d" }}
                            </a>
                        </td>
                        <td>
                            {% if member.salesperson %}
                                <a href="?salesperson={{ member.salesperson.employee_id }}">{{ member.salesperson }}</a>
                            {% endif %}
                        </td>
                        <td class="center">
                            {% ifequal member.get_business_status "営業中" %}
                                <a href="{% url 'member_project_list' member.employee_id %}?status=1">営業中</a>
                            {% else %}
                                {{ member.get_business_status }}
                            {% endifequal %}
                        </td>
                        <td class="center">
                            {% ifequal member.get_business_status "未提案" %}
                                <a href="{% url 'recommended_project' member.employee_id %}">推薦された案件</a>
                            {% endifequal %}
                        </td>
                        <td class="center"><a href="/admin/eb/member/{{ member.id }}/" target="_blank">編集</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="row2"><td class="center red" colspan="9">該当する要員がいません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">
                    <div class="pagination">
                        <span class="step-links">
                            {% if members.has_previous %}
                                <a href="?page={{ members.previous_page_number }}{{ params }}">&lt;</a>
                            {% endif %}

                            {% if paginator.page_range|length > 1 %}
                                {% for page in paginator.page_range %}
                                    {% ifequal page members.number %}
                                        <span class="current">
                                            {{ page }}
                                        </span>
                                    {% else %}
                                        <a href="?page={{ page }}{{ params }}">{{ page }}</a>
                                    {% endifequal %}
                                {% endfor %}
                            {% endif %}

                            {% if members.has_next %}
                                <a href="?page={{ members.next_page_number }}{{ params }}">&gt;</a>
                            {% endif %}
                            <span>{{ paginator.count }} 件</span>
                        </span>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}