{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">社員状況</div>
        <table cellspacing="0" cellpadding="0">
            <tr class="row1">
                <td colspan="6" class="subtitle">社員稼働状況：</td>
            </tr>
            <tr class="row2">
                <th>社員数:</th>
                <td class="num"><a href="{% url 'employee_list' %}"> {{ member_count }}</a></td>
                <th>稼働中人数:</th>
                <td class="num"><a href="{% url 'employee_list' %}?status=working"> {{ working_member_count }}</a></td>
                <th>待機中人数:</th>
                <td class="num"><a href="{% url 'employee_list' %}?status=waiting" class="red">{{ waiting_member_count }}</a></td>
            </tr>
            <tr class="row1">
                <td colspan="6" class="subtitle">社員リリース状況：</td>
            </tr>
            <tr class="row2">
                <th>今月リリース:</th>
                <td class="num">
                    <a href="{% url 'release_list' %}?period={{ filter_list.now_year }}{{ filter_list.now_month|stringformat:'02d' }}"
                       class="red">{{ current_month_count }}</a></td>
                <th>来月リリース:</th>
                <td class="num">
                    <a href="{% url 'release_list' %}?period={{ filter_list.next_month_year }}{{ filter_list.next_month_month|stringformat:'02d' }}">
                        {{ next_month_count }}</a></td>
                <th>再来月リリース:</th>
                <td class="num">
                    <a href="{% url 'release_list' %}?period={{ filter_list.next_2_months_year }}{{ filter_list.next_2_months_month|stringformat:'02d' }}">
                        {{ next_2_month_count }}</a></td>
            </tr>
        </table>
    </div>
    <div class="dashboard">
        <div class="dashboard-title">案件状況</div>
        <table cellspacing="0" cellpadding="0">
            <tr class="row1">
                <td colspan="6" class="subtitle">案件ステータス：</td>
            </tr>
            <tr class="row2">
                <th>案件数:</th>
                <td class="num" colspan="5"><a href="{% url 'project_list' %}">{{ company.get_projects.count }}</a></td>
            </tr>
            <tr class="row2">
                <th>提案中:</th>
                <td class="num"><a href="{% url 'project_list' %}?status=1">{{ company.get_proposal_projects.count }}</a></td>
                <th>予算審査:</th>
                <td class="num"><a href="{% url 'project_list' %}?status=2">{{ company.get_examination_projects.count }}</a></td>
                <th>予算確定:</th>
                <td class="num"><a href="{% url 'project_list' %}?status=3">{{ company.get_confirmed_projects.count }}</a></td>
            </tr>
            <tr>
                <th>実施中:</th>
                <td class="num"><a href="{% url 'project_list' %}?status=4">{{ company.get_working_projects.count }}</a></td>
                <th>完了:</th>
                <td class="num"><a href="{% url 'project_list' %}?status=5">{{ company.get_finished_projects.count }}</a></td>
            </tr>
        </table>
    </div>
{% endblock %}