{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">{{ member }} の履歴</div>
        <table>
            <tr>
                <td>
                    <table style="width: 320px;">
                        <tr>
                            <td>フリガナ</td>
                            <td>{{ member.first_name_ja }}&nbsp;{{ member.last_name_ja }}</td>
                        </tr>
                        <tr>
                            <td>氏名</td>
                            <td>{{ member }}</td>
                        </tr>
                        <tr>
                            <td>現住所</td>
                            <td>{{ member.address1 }}</td>
                        </tr>
                        <tr>
                            <td>最寄駅</td>
                            <td>{{ member.nearest_station }}</td>
                        </tr>
                        <tr>
                            <td>在日年数</td>
                            <td>{{ member.years_in_japan }}&nbsp;年</td>
                        </tr>
                    </table>
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>性別</td>
                <td>{{ member.get_sex_display }}</td>
                <td>日 本 語／英語</td>
                <td>{{ member.japanese_description }}</td>
            </tr>
        </table>
    </div>
{% endblock %}