{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">{{ member }} の履歴</div>
        <form action="" method="get">
            <a href="?download=resume" target="_blank" class="button">ダウンロード</a>
        </form>
        <table class="resume" cellpadding="0" cellspacing="0" style="width: 948px;">
            <tr>
                <td>
                    <table style="width: 300px; table-layout: fixed;" cellpadding="0" cellspacing="0">
                        <tr>
                            <th style="height: 10px;">フリガナ</th>
                            <td>{{ member.first_name_ja }}&nbsp;{{ member.last_name_ja }}</td>
                        </tr>
                        <tr>
                            <th class="td-inner" style="height: 35px;">氏&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</th>
                            <td class="td-inner">{{ member }}</td>
                        </tr>
                        <tr>
                            <th class="td-inner" style="height: 35px;">現&nbsp;住&nbsp;所</th>
                            <td class="td-inner">{{ member.address1 }}</td>
                        </tr>
                        <tr>
                            <th class="td-inner">最&nbsp;寄&nbsp;駅</th>
                            <td class="td-inner">{{ member.nearest_station }}</td>
                        </tr>
                        <tr>
                            <th class="td-inner" style="height: 60px;">在日年数</th>
                            <td class="td-inner">{{ member.years_in_japan }}&nbsp;年</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table style="width: 300px; table-layout: fixed; border-left: 1px solid black;" cellpadding="0" cellspacing="0">
                        <tr>
                            <th style="height: 36px;">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;別</th>
                            <td colspan="2">{{ member.get_sex_display }}</td>
                        </tr>
                        <tr>
                            <th class="td-inner" style="height: 37px;">本&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;籍</th>
                            <td class="td-inner" colspan="2">{{ member.country }}</td>
                        </tr>
                        <tr>
                            <th class="td-inner" style="height: 36px;">生年月日</th>
                            <td class="td-inner">{{ member.birthday }}</td>
                            <td class="td-inner" style="text-align: center; border-left: 1px dotted black;">{{ member.get_age }}</td>
                        </tr>
                        <tr>
                            <th class="td-inner" style="height: 60px;">婚姻状況</th>
                            <td class="td-inner" colspan="2">{{ member.get_is_married_display }}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table style="width: 350px; table-layout: fixed; border-left: 1px solid black;" cellpadding="0" cellspacing="0">
                        <tr>
                            <th style="height: 55px;">日&nbsp;本&nbsp;語／英&nbsp;&nbsp;語</th>
                            <td>{{ member.japanese_description }}</td>
                        </tr>
                        <tr>
                            <th class="td-inner" style="height: 55px;">資&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格</th>
                            <td class="td-inner" colspan="2">{{ member.certificate }}</td>
                        </tr>
                        <tr>
                            <th class="td-inner" style="height: 60px;">得&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;意</th>
                            <td class="td-inner" colspan="2">{{ member.skill_description }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table class="resume" cellpadding="0" cellspacing="0" style="width: 948px;">
            <tr>
                <td>
                    <table style="table-layout: fixed;" cellpadding="0" cellspacing="0">
                        <tr>
                            <th class="th-top" rowspan="3" style="width: 2px; font-size: 18pt;">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;歴</th>
                            <th class="th-top" style="width: 20px;">期&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;間</th>
                            <th class="th-top" style="border-right: 0px;">学校名称　／　学部　／　専門　／学位</th>
                        </tr>
                        {% if member.degree_set.all.count %}
                            {% for degree in member.degree_set.all %}
                                <tr>
                                    <td class="td-inner">{{ degree.start_date }} ～ {{ degree.end_date }}</td>
                                    <td class="td-inner" style="border-left: 1px dotted black;">{{ degree.description }}</td>
                                </tr>
                            {% endfor %}
                            {% if member.degree_set.all.count == 1 %}
                                <tr>
                                    <td class="td-inner">&nbsp;</td>
                                    <td class="td-inner" style="border-left: 1px dotted black;">&nbsp;</td>
                                </tr>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td class="td-inner">&nbsp;</td>
                                <td class="td-inner" style="border-left: 1px dotted black;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="td-inner">&nbsp;</td>
                                <td class="td-inner" style="border-left: 1px dotted black;">&nbsp;</td>
                            </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
        </table>
        <table class="resume" cellpadding="0" cellspacing="0" style="width: 948px;">
            <tr>
                <th style="font-size: 18pt; text-align: center; background-color: rgb(255,255,153); border-bottom: 1px solid black;">
                    業&nbsp;&nbsp;務&nbsp;&nbsp;経&nbsp;&nbsp;歴
                </th>
            </tr>
            <tr>
                <td>
                    <table style="table-layout: fixed;" cellpadding="0" cellspacing="0">
                        <tr>
                            <th rowspan="2" class="th-top" style="width: 2px;">No.</th>
                            <th rowspan="2" class="th-top" style="width: 30px;">作業期間</th>
                            <th rowspan="2" class="th-top" style="width: 80px;">業務内容</th>
                            <th rowspan="2" class="th-top" style="width: 30px;">機種／OS</th>
                            <th rowspan="2" class="th-top" style="width: 30px;">言語／ツール<br/>ＤＢ</th>
                            <th rowspan="2" class="th-top" style="width: 10px;">作<br/>業<br/>区<br/>分</th>
                            <th colspan="10" class="th-top" style="border-bottom: 1px dotted black; border-right: 0px;">作業工程</th>
                        </tr>
                        <tr>
                            <th class="th-top">要件定義</th>
                            <th class="th-top">調査分析</th>
                            <th class="th-top">基本設計</th>
                            <th class="th-top">詳細設計</th>
                            <th class="th-top">開発製造</th>
                            <th class="th-top">単体試験</th>
                            <th class="th-top">結合試験</th>
                            <th class="th-top">総合試験</th>
                            <th class="th-top">保守運用</th>
                            <th class="th-top" style="border-right: 0px;">サポート</th>
                        </tr>
                        {% if all_project_count %}
                            {% for projectmember in member.projectmember_set.all %}
                                <tr class="project-detail">
                                    <td style="text-align: center;">{{ forloop.counter }}</td>
                                    <td>{{ projectmember.project.start_date|date:"Y年M" }}～<br/>{{ projectmember.project.end_date|date:"Y年M" }}</td>
                                    <td>
                                        <table style="width: 266px; table-layout: fixed;" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td nowrap style="overflow: hidden; border: 0px;">{{ projectmember.project.name }}</td>
                                                <td style="text-align: center; width: 66px; border: 0px; border-left: 1px dotted black;"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="word-break: break-word; border: 0px; border-top: 1px dotted black;">
                                                    {% if projectmember.project.description %}
                                                        <pre>{{ projectmember.project.description }}</pre>
                                                    {% else %}
                                                        &nbsp;
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        {% for os in projectmember.project.os.all %}
                                            {{ os }}<br/>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for skill in projectmember.project.skills.all %}
                                            {{ skill }}<br/>
                                        {% endfor %}
                                    </td>
                                    <td>{{ projectmember.role }}</td>
                                    <td>
                                        {% if projectmember.is_in_rd %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if projectmember.is_in_sa %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if projectmember.is_in_bd %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if projectmember.is_in_dd %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if projectmember.is_in_pg %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if projectmember.is_in_pt %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if projectmember.is_in_it %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if projectmember.is_in_st %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if projectmember.is_in_maintain %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if projectmember.is_in_support %}
                                            ●
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for project in member.historyproject_set.all %}
                                <tr class="project-detail">
                                    <td style="text-align: center;">{{ forloop.counter|add:project_count }}</td>
                                    <td>{{ project.start_date|date:"Y年M" }}～<br/>{{ project.end_date|date:"Y年M" }}</td>
                                    <td>
                                        <table style="width: 266px; table-layout: fixed;" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td nowrap style="overflow: hidden; border: 0px;">{{ project.name }}</td>
                                                <td style="text-align: center; width: 66px; border: 0px; border-left: 1px dotted black;">{{ project.location }}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="word-break: break-word; border: 0px; border-top: 1px dotted black;">
                                                    <pre>{{ project.description }}</pre>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        {% for os in project.os.all %}
                                            {{ os }}<br/>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for skill in project.skill.all %}
                                            {{ skill }}<br/>
                                        {% endfor %}
                                    </td>
                                    <td>{{ project.role }}</td>
                                    <td>
                                        {% if project.is_in_rd %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if project.is_in_sa %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if project.is_in_bd %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if project.is_in_dd %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if project.is_in_pg %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if project.is_in_pt %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if project.is_in_it %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if project.is_in_st %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if project.is_in_maintain %}
                                            ●
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if project.is_in_support %}
                                            ●
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            {% for i in default_project_count %}
                                <tr class="project-detail">
                                    <td style="text-align: center;">{{ i }}</td>
                                    <td>&nbsp;</td>
                                    <td>
                                        <table style="width: 266px; table-layout: fixed;" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td nowrap style="overflow: hidden; border: 0px;">&nbsp;</td>
                                                <td style="text-align: center; width: 66px; border: 0px; border-left: 1px dotted black;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="word-break: break-word; border: 0px; border-top: 1px dotted black;">
                                                    <pre>&nbsp;</pre>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="word-break: break-word; border: 0px;">
                                                    <pre>&nbsp;</pre>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border-top: 1px solid black; text-align: center; font-size: 9pt;">
                    作業区分：   M：ﾏﾈｰｼﾞｬｰ、L：ﾘｰﾀﾞｰ、SL：ｻﾌﾞﾘｰﾀﾞｰ、SE：.ｼｽﾃﾑｴﾝｼﾞﾆｱ、SP：ｼｽﾃﾑﾌﾟﾛｸﾞﾗﾏｰ、PG：ﾌﾟﾛｸﾞﾗﾏｰ、OP：ｵﾍﾟﾚｰﾀｰ
                </td>
            </tr>
        </table>
    </div>
{% endblock %}