{% extends "base.html" %}
{% load order_by_tag %}

{% block header %}
    <script type="text/javascript">
        window.onload = function() {
            init_select("status");
            init_select("first_name");
            init_select("last_name");
            init_select("business_status");
            init_select("salesperson");
            init_select("section");
        };
    </script>
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">なにをしたいのですか？</div>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>{% create_order_display "名前" "first_name" %}</th>
                <th>{% create_order_display "所属" "section__name" %}</th>
                <th>今月リリース案件</th>
                <th>来月アサイン案件</th>
                <th style="width: 90px;">{% create_order_display "営業員" "salesperson__first_name" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if members %}
                {% for member in members %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>
                            <a href="{% url 'member_detail' member.employee_id %}">
                                {{ member.first_name }}&nbsp;{{ member.last_name }}
                            </a>
                        </td>
                        <td>{{ member.get_section }}</td>
                        <td>
                            {% if member.get_current_end_project_member %}
                            <a href="{% url 'project_detail' member.get_current_end_project_member.project.pk %}">
                                {{ member.get_current_end_project_member.project }}
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if member.get_next_start_project_member %}
                            <a href="{% url 'project_detail' member.get_next_start_project_member.project.pk %}">
                                {{ member.get_next_start_project_member.project }}
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if member.get_salesperson %}
                                <a href="?salesperson={{ member.get_salesperson.pk }}">{{ member.get_salesperson }}</a>
                            {% endif %}
                        </td>
                        <td class="center"><a href="{% url 'admin:eb_member_change' member.pk %}?from=portal&_popup=1" target="_blank">編集</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="row2"><td class="center red" colspan="9">該当する要員がいません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">
                    <div class="pagination">
                        <span class="step-links">
                            {% if members.has_previous %}
                                <a href="?page={{ members.previous_page_number }}{{ params }}">&lt;</a>
                            {% endif %}

                            {% if paginator.page_range|length > 1 %}
                                {% for page in paginator.page_range %}
                                    {% ifequal page members.number %}
                                        <span class="current">
                                            {{ page }}
                                        </span>
                                    {% else %}
                                        <a href="?page={{ page }}{{ params }}">{{ page }}</a>
                                    {% endifequal %}
                                {% endfor %}
                            {% endif %}

                            {% if members.has_next %}
                                <a href="?page={{ members.next_page_number }}{{ params }}">&gt;</a>
                            {% endif %}
                            <span>{{ paginator.count }} 件</span>
                        </span>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}