{% extends "base.html" %}
{% load humanize %}

{% block header %}
    <script type="text/javascript">
        window.onload = function() {
            obj_list = $("select")
            obj_list.attr("disabled", "disabled");
            for (i=0; i<=obj_list.length; i++) {
                obj = $(obj_list[i])
                obj.after("<input type='hidden' value='" + obj.val() + "' name='" + obj.attr("name") + "'/>");
            }
        };
    </script>
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">勤怠情報入力</div>
    </div>
    <table class="detail" cellpadding="0" cellspacing="0">
        <tr>
            <th>案件名称</th>
            <td>
                <a href="{% url 'project_detail' project.id %}">{{ project.name }}</a>
            </td>
            <th>関連会社</th><td>{{ project.client.name }}</td>
        </tr>
        <tr>
            <th>開始日付</th><td>{{ project.start_date|date:"Y-m-d" }}</td>
            <th>終了日付</th><td>{{ project.end_date|date:"Y-m-d" }}</td>
        </tr>
        <tr>
            <th>出勤の計算区分</th><td colspan="3">{{ project.get_attendance_type_display }}</td>
        </tr>
    </table>
    <form method="post" action="">
        {% csrf_token %}
        {{ formset.management_form }}
        <table id="formset" class="list" cellpadding="0"  cellspacing="0">
            {% for form in formset.forms %}
                {% if forloop.first %}
                <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                {% endif %}
                <tr class="{% cycle row1,row2 %}" id="id_form-{{ forloop.counter0 }}">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tfoot>
                <tr>
                    {% if formset.forms %}
                        <td style="height: 30px;" colspan="13"><input type="submit" value="保存" class="right btnOk"/></td>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </form>
{% endblock %}