{% extends "base.html" %}
{% load humanize %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">{{ project_request.project }}  {{ project_request.year }}年{{ project_request.month }}月 の請求書</div>
        <form action="" method="get">
        </form>
        {% if request_heading %}
        <table class="request" cellpadding="0" cellspacing="0" style="width: 948px;">
            <tr>
                <td style="width: 0px;"></td>
                <td style="width: 45px;"></td>
                <td style="width: 29px;"></td>
                <td style="width: 29px;"></td>
                <td style="width: 30px;"></td>
                <td style="width: 30px;"></td>
                <td style="width: 30px;"></td>
                <td style="width: 88px;"></td>
                <td style="width: 91px;"></td>
                <td style="width: 45px;"></td>
                <td style="width: 128px;"></td>
                <td style="width: 45px;"></td>
                <td style="width: 45px;"></td>
                <td style="width: 58px;"></td>
                <td style="width: 114px;"></td>
                <td style="width: 105px;"></td>
            </tr>
            <tr>
                <th class="title" colspan="16">　　御　請　求　書　　</th>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td colspan="11">〒{{ request_heading.client_post_code }}</td>
                <td colspan="2">請求番号</td>
                <td colspan="2">{{ project_request.request_no }}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="11">{{ request_heading.client_address }}</td>
                <td colspan="2">発  行 日</td>
                <td colspan="2">{{ request_heading.publish_date }}</td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td colspan="15">{{ request_heading.client_tel }}</td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td colspan="15" class="title2">{{ request_heading.client_name }}</td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td colspan="11">　下記のとおりご請求申し上げます。</td>
                <td colspan="4">〒{{ request_heading.company_post_code }}</td>
            </tr>
            <tr>
                <td colspan="12"></td>
                <td colspan="4">{{ request_heading.company_address }}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3" class="title3">御請求額 ：</td>
                <td colspan="8" class="title2">￥{{ project_request.amount|intcomma }}円</td>
                <td colspan="4">{{ request_heading.company_name }}</td>
            </tr>
            <tr>
                <td colspan="12"></td>
                <td colspan="4">代表取締役　　{{ request_heading.company_master }}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">作業期間</td>
                <td colspan="8">{{ request_heading.work_period_start|date:'Y年m月d日' }} ～ {{ request_heading.work_period_end|date:'Y年m月d日' }}</td>
                <td colspan="4">TEL: {{ request_heading.company_tel }}</td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td colspan="3">注文番号</td>
                <td colspan="4">{{ project_request.client_order.order_no }}</td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td colspan="3">注文日</td>
                <td colspan="4">{{ project_request.client_order.order_date|date:'Y/m/d' }}</td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td colspan="3">契約件名</td>
                <td colspan="4">{{ project_request.client_order.name }}</td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td colspan="3">支払期限日</td>
                <td colspan="4">{{ request_heading.remit_date|date:'Y/m/d' }}</td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td class="top center bottom left">番号</td>
                <td class="top center bottom left" colspan="5">項目</td>
                <td class="top center bottom left">単価</td>
                <td class="top center bottom left">作業Ｈ</td>
                <td class="top center bottom left">率</td>
                <td class="top center bottom left">Min/MaxH</td>
                <td class="top center bottom left">減</td>
                <td class="top center bottom left">増</td>
                <td class="top center bottom left">その他</td>
                <td class="top center bottom left">金額</td>
                <td class="top center bottom left border_right">備考</td>
            </tr>
            {% for item in request_details %}
            <tr>
                <td></td>
                <td class="left bottom align_right">{{ item.no }}</td>
                <td class="left bottom align_left" colspan="5">{{ item.project_member }}</td>
                <td class="left bottom align_right">
                    {% if request_heading.is_hourly_pay %}
                        <!-- 時給の場合、時給の表示する。 -->
                        {{ item.hourly_pay|intcomma }}
                    {% else %}
                        {{ item.basic_price|intcomma }}
                    {% endif %}
                </td>
                <td class="left bottom align_right">{{ item.total_hours }}</td>
                <td class="left bottom align_right">{{ item.rate }}</td>
                <td class="left bottom center">
                    {% if request_heading.is_hourly_pay %}
                        <!-- 時給の場合、表示しない。 -->
                    {% else %}
                        {% if item %}{{ item.min_hours|stringformat:'d' }}/{{ item.max_hours|stringformat:'d' }}{% endif %}
                    {% endif %}
                </td>
                <td class="left bottom align_right">
                    {% if request_heading.is_hourly_pay %}
                        <!-- 時給の場合、０を表示。 -->
                    {% else %}
                        {{ item.minus_per_hour|intcomma }}
                    {% endif %}
                </td>
                <td class="left bottom align_right">
                    {% if request_heading.is_hourly_pay %}
                        <!-- 時給の場合、０を表示。 -->
                    {% else %}
                        {{ item.plus_per_hour|intcomma }}
                    {% endif %}
                </td>
                <td class="left bottom"></td>
                <td class="left bottom align_right">{{ item.total_price|intcomma }}</td>
                <td class="left bottom align_left border_right">{{ item.comment }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td class="left bottom align_right"></td>
                <td class="left bottom"></td>
                <td class="bottom" colspan="4">（小計）</td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom align_right">{{ project_request.turnover_amount|intcomma }}</td>
                <td class="left bottom align_left border_right"></td>
            </tr>
            <tr>
                <td></td>
                <td class="left bottom align_right"></td>
                <td class="left bottom"></td>
                <td class="bottom" colspan="4">（消費税）</td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom align_right">{{ project_request.tax_amount|intcomma }}</td>
                <td class="left bottom align_left border_right"></td>
            </tr>
            <tr>
                <td></td>
                <td class="left bottom align_right"></td>
                <td class="left bottom"></td>
                <td class="bottom" colspan="4">（合計）</td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom align_right">{{ project_request.turnover_amount|add:project_request.tax_amount|intcomma }}</td>
                <td class="left bottom align_left border_right"></td>
            </tr>
            <tr>
                <td></td>
                <td class="left bottom align_right"></td>
                <td class="left bottom"></td>
                <td class="bottom" colspan="4">[控除、追加]</td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom align_right"></td>
                <td class="left bottom align_left border_right"></td>
            </tr>
            <tr>
                <td></td>
                <td class="left bottom align_left">控除</td>
                <td class="left bottom" colspan="5"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom align_right"></td>
                <td class="left bottom align_left border_right"></td>
            </tr>
            {% if detail_expenses %}
                {% for expenses in detail_expenses %}
                <tr>
                    <td></td>
                    <td class="left bottom align_left">{% if forloop.counter == 1 %}追加{% endif %}</td>
                    <td class="left bottom"></td>
                    <td class="bottom" style="white-space: nowrap;" colspan="4">{{ expenses.ITEM_EXPENSES_CATEGORY_SUMMARY }}</td>
                    <td class="left bottom"></td>
                    <td class="left bottom"></td>
                    <td class="left bottom"></td>
                    <td class="left bottom"></td>
                    <td class="left bottom"></td>
                    <td class="left bottom"></td>
                    <td class="left bottom"></td>
                    <td class="left bottom align_right">{{ expenses.ITEM_EXPENSES_CATEGORY_AMOUNT|intcomma }}</td>
                    <td class="left bottom align_left border_right"></td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td></td>
                <td class="left bottom align_left">追加</td>
                <td class="left bottom"></td>
                <td class="bottom" colspan="4"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom align_right"></td>
                <td class="left bottom align_left border_right"></td>
            </tr>
            {% endif %}
            <tr>
                <td></td>
                <td class="left bottom align_right"></td>
                <td class="left bottom"></td>
                <td class="bottom" colspan="4">（総計）</td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom"></td>
                <td class="left bottom align_right">{{ project_request.amount|intcomma }}</td>
                <td class="left bottom align_left border_right"></td>
            </tr>
            <tr>
                <td></td>
                <td class="left border_right align_left" colspan="15">お振込銀行口座</td>
            </tr>
            <tr>
                <td></td>
                <td class="left"></td>
                <td class="border_right" colspan="14">{{ request_heading.bank_name }}</td>
            </tr>
            <tr>
                <td></td>
                <td class="left"></td>
                <td class="border_right" colspan="14">{{ request_heading.branch_name }}（{{ request_heading.branch_no }}）</td>
            </tr>
            <tr>
                <td></td>
                <td class="left"></td>
                <td class="border_right" colspan="14">{{ request_heading.account_type }}　{{ request_heading.account_number }}</td>
            </tr>
            <tr>
                <td class=""></td>
                <td class="left bottom"></td>
                <td class="bottom border_right" colspan="14">名義　　　　{{ request_heading.account_holder }}</td>
            </tr>
        </table>
        {% else %}
        <div class="center red" style="margin-bottom: 20px;font-size: 20px;font-weight: bold;">
            履歴情報がありません！</div>
        {% endif %}
    </div>
{% endblock %}