{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">なにをしたいのですか？</div>
        <form action="" method="get">
            <a href="javascript:show_dialog('replace_info')" class="button">請求書置換文字列の説明</a>
            <a href="javascript:show_dialog('request_gen')" class="button">請求書生成</a>
            <a href="{% url 'admin:eb_project_change' project.id %}?from=portal" target="_blank" class="button">案件を編集</a>
            <a href="{% url 'admin:eb_projectmember_add' %}?project_id={{ project.pk }}&from=portal"
               target="_blank" class="button">要員をアサイン</a>
        </form>
    </div>
    <div id="mask" onclick="hide_dialog()" class="mask">
    </div>
    <div id="replace_info" class="dialog">
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <th>{$CLIENT_POST_CODE$}</th>
                <td>お客様郵便番号</td>
                <th>{$CLIENT_ADDRESS$}</th>
                <td>お客様住所</td>
            </tr>
            <tr>
                <th>{$CLIENT_TEL$}</th>
                <td>お客様電話番号</td>
                <th>{$CLIENT_COMPANY_NAME$}</th>
                <td>お客様名称</td>
            </tr>
            <tr>
                <th>{$WORK_PERIOD$}</th>
                <td>作業期間</td>
                <th>{$ORDER_NO$}</th>
                <td>注文番号</td>
            </tr>
            <tr>
                <th>{$REQUEST_DATE$}</th>
                <td>注文日</td>
                <th>{$CONTRACT_NAME$}</th>
                <td>契約件名</td>
            </tr>
            <tr>
                <th class="sep">{$REMIT_DATE$}</th>
                <td class="sep" colspan="3">お支払い期限</td>
            </tr>
            <tr>
                <th class="sep">{$REQUEST_NO$}</th>
                <td class="sep">請求番号</td>
                <th class="sep">{$PUBLISH_DATE$}</th>
                <td class="sep">発 行 日</td>
            </tr>
            <tr>
                <th>{$POST_CODE$}</th>
                <td>本社郵便番号</td>
                <th>{$ADDRESS$}</th>
                <td>本社住所</td>
            </tr>
            <tr>
                <th>{$COMPANY_NAME$}</th>
                <td>会社名</td>
                <th>{$MASTER$}</th>
                <td>代表取締役</td>
            </tr>
            <tr>
                <th class="sep">{$TEL$}</th>
                <td class="sep" colspan="3">本社電話番号</td>
            </tr>
            <tr>
                <th>{$BANK_NAME$}</th>
                <td>銀行名称</td>
                <th>{$BRANCH_NAME$}</th>
                <td>支店名称</td>
            </tr>
            <tr>
                <th>{$ACCOUNT_TYPE$}</th>
                <td>預金種類</td>
                <th>{$ACCOUNT_NUMBER$}</th>
                <td>口座番号</td>
            </tr>
            <tr>
                <th class="sep">{$BANK_ACCOUNT_HOLDER$}</th>
                <td class="sep">口座名義人</td>
                <th class="sep">{$BRANCH_NO$}</th>
                <td class="sep">支店番号</td>
            </tr>
            <tr>
                <th>{$NO$}</th>
                <td>番号</td>
                <th>{$ITEM_NAME$}</th>
                <td>項目名称</td>
            </tr>
            <tr>
                <th>{$ITEM_PRICE$}</th>
                <td>単価</td>
                <th>{$ITEM_WORK_HOURS$}</th>
                <td>作業時間</td>
            </tr>
            <tr>
                <th>{$ITEM_EXTRA_HOURS$}</th>
                <td>残業時間</td>
                <th>{$ITEM_MIN_MAX$}</th>
                <td>Min/Max（H）</td>
            </tr>
            <tr>
                <th>{$ITEM_MINUS_PER_HOUR$}</th>
                <td>減（円）</td>
                <th>{$ITEM_PLUS_PER_HOUR$}</th>
                <td>増（円）</td>
            </tr>
            <tr>
                <th>{$ITEM_MINUS_PER_HOUR2$}</th>
                <td>減（円）</td>
                <th>{$ITEM_PLUS_PER_HOUR2$}</th>
                <td>増（円）</td>
            </tr>
            <tr>
                <th>{$ITEM_OTHER$}</th>
                <td>その他</td>
                <th>{$ITEM_AMOUNT_BASIC$}</th>
                <td>基本金額（円）</td>
            </tr>
            <tr>
                <th>{$ITEM_AMOUNT_EXTRA$}</th>
                <td>残業金額</td>
                <th>{$ITEM_AMOUNT_TOTAL$}</th>
                <td>基本金額＋残業金額</td>
            </tr>
            <tr>
                <th class="sep">{$ITEM_RATE$}</th>
                <td class="sep">率</td>
                <th class="sep">{$ITEM_COMMENT$}</th>
                <td class="sep">備考</td>
            </tr>
            <tr>
                <th colspan="3">{$ITEM_EXPENSES_CATEGORY_SUMMARY$}</th>
                <td>各人清算リスト概要</td>
            </tr>
            <tr>
                <th class="sep" colspan="3">{$ITEM_EXPENSES_CATEGORY_AMOUNT$}</th>
                <td class="sep">分類ごとの金額</td>
            </tr>
            <tr>
                <th>{$ITEM_COUNT$}</th>
                <td>数量</td>
                <th>{$ITEM_UNIT$}</th>
                <td>単位</td>
            </tr>
            <tr>
                <th>{$ITEM_NAME_TOTAL$}</th>
                <td>項目合計</td>
                <th>{$ITEM_AMOUNT_ALL$}</th>
                <td>要員すべての金額</td>
            </tr>
        </table>
    </div>
    <div id="request_gen" class="dialog">
        <form method="get" action="" target="_blank">
            <table width="100%" cellpadding="0" cellspacing="0">
                {% if project.get_order_by_month %}
                    <tr>
                        <th>請求書名</th>
                        <td colspan="3">
                            <input type="text" name="request_name" value="{{ project.get_order_by_month.name }}" style="width: 350px;"/>
                        </td>
                    </tr>
                    <tr>
                        <th>請求番号</th>
                        <td><input type="text" name="request_no"/></td>
                        <th>注文番号</th>
                        <td>
                            <input type="text" name="order_no" value="{{ project.get_order_by_month.order_no }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: center;">
                            <input type="hidden" name="download" value="request"/>
                            <input type="submit" value="請求書をダウンロード"/>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td style="height: 100px;" class="center red">注文書履歴がありません。</td>
                    </tr>
                {% endif %}
            </table>
        </form>
    </div>
    <table class="detail" cellpadding="0" cellspacing="0">
        <tr>
            <th>案件名称</th><td>{{ project.name }}</td>
            <th>関連会社</th><td>{{ project.client.name }}</td>
        </tr>
        <tr>
            <th>顧客責任者</th><td>{{ project.boss.name }}</td>
            <th>顧客連絡者</th><td>{{ project.middleman.name }}</td>
        </tr>
        <tr>
            <th>作業場所</th><td colspan="3">{{ project.address }}</td>
        </tr>
        <tr>
            <th>開始日付</th><td>{{ project.start_date|date:"Y-m-d" }}</td>
            <th>終了日付</th><td>{{ project.end_date|date:"Y-m-d" }}</td>
        </tr>
        <tr style="height: 70px;">
            <th valign="top">概要</th><td colspan="3" valign="top">{{ project.description }}</td>
        </tr>
        <tr style="height: 70px;">
            <th valign="top">スキル要求</th>
            <td colspan="3" valign="top">
                {% for project_skill in project.projectskill_set.all %}
                    <div>{{ project_skill.skill.name }}, {{ project_skill.get_period_display }}, {{project_skill.description }}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>アサイン人数</th>
            <td><a href="{% url 'project_members' project.pk %}">{{ project.get_project_members.count }}</a></td>
            <th>状態</th>
            <td>
                {% ifequal project.status 1 %}
                    <span class="red">{{ project.get_status_display }}</span>
                    <a href="{% url 'recommended_member' project.pk %}" class="right">推薦されるメンバーズ</a>
                {% else %}
                    {{ project.get_status_display }}
                {% endifequal %}
            </td>
        </tr>
    </table>
    <div class="dashboard">
        <div class="dashboard-title">注文履歴</div>
        <form action="" method="get">
            <a href="{% url 'admin:eb_clientorder_add' %}?project_id={{ project.pk }}&from=portal"
               target="_blank" class="button">注文書を追加</a>
        </form>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>契約件名</th>
                <th>対象年月</th>
                <th>注文番号</th>
                <th>注文書あり？</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>契約件名</th>
                <th>対象年月</th>
                <th>注文番号</th>
                <th>注文書あり？</th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            {% if project.clientorder_set.all %}
                {% for client_order in project.clientorder_set.all %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ client_order.name }}</td>
                        <td>{{ client_order.year }}年{{ client_order.month }}月</td>
                        <td>{{ client_order.order_no }}</td>
                        <td>
                            {% if client_order.order_file %}
                                <a href="{% url 'download_client_order'%}?path={{ client_order.order_file }}" target="_blank">ダウンロード</a>
                            {% else %}
                                <img width="12px" src="/static/img/icon-warn.png"/>
                            {% endif %}
                        </td>
                        <td class="center">
                            <a href="{% url 'admin:eb_clientorder_change' client_order.pk %}?project_id={{ project.pk }}&from=portal" target="_blank">編集</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="row2"><td class="center red" colspan="5">注文履歴がありません。</td></tr>
            {% endif %}
        </tbody>
    </table>
    <div class="dashboard">
        <div class="dashboard-title">営業活動</div>
        <form action="" method="get">
            <a href="{% url 'admin:eb_projectactivity_add' %}?project_id={{ project.pk }}&from=portal"
               target="_blank" class="button">活動を追加</a>
        </form>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>活動名称</th>
                <th style="width: 130px;">活動日時</th>
                <th>活動場所</th>
                <th>活動内容</th>
                <th>参加者</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>活動名称</th>
                <th>活動日時</th>
                <th>活動場所</th>
                <th>活動内容</th>
                <th>参加者</th>
                <th></th>
            </tr>
        </tfoot>
        {% if project.projectactivity_set.all %}
            {% for project_activity in project.projectactivity_set.all %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{ project_activity.name }}</td>
                    <td>{{ project_activity.open_date|date:"Y-m-d H:i" }}</td>
                    <td>{{ project_activity.address }}</td>
                    <td>{{ project_activity.content }}</td>
                    <td>
                        {% for client_member in project_activity.client_members.all %}
                            {{ client_member.name }},
                        {% endfor %}
                        {% for salesperson in project_activity.salesperson.all %}
                            {{ salesperson }},
                        {% endfor %}
                        {% for member in project_activity.members.all %}
                            {{ member }},
                        {% endfor %}
                    </td>
                    <td class="center">
                        <a href="{% url 'admin:eb_projectactivity_change' project_activity.pk %}?from=portal" target="_blank">編集</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="row1"><td colspan="6" class="center red">まだ何の活動情報もありません。</td></tr>
        {% endif %}
    </table>
{% endblock %}