{% extends "base.html" %}

{% block header %}
    <script type="text/javascript">
        window.onload = function() {
            init_select("name");
            init_select("client");
            init_select("ym");
        };

        function download_request(project_id, order_no, name, bank_id) {
            ym = $("#ym").val();
            window.open("/eb/project/" + project_id + ".html?download=request&order_no=" + order_no + "&request_name=" + name + "&ym=" + ym + "&bank=" + bank_id);
        }
    </script>
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">なにをしたいのですか？</div>
        <form action="" method="get">
            <span>名称: </span><input type="text" id="name" name="name" style="width: 100px;"/>
            <span>関連会社: </span><input type="text" id="client" name="client" style="width: 100px;"/>
            <label for="ym">対象年月</label>
            <select name="ym" id="ym">
                {% for year, month in month_list %}
                    {% ifequal year current_year %}
                        {% ifequal month current_month %}
                            <option selected="selected" value="{{ year }}{{ month }}">{{ year }}年{{ month}}月</option>
                        {% else %}
                            <option value="{{ year }}{{ month }}">{{ year }}年{{ month}}月</option>
                        {% endifequal %}
                    {% else %}
                        <option value="{{ year }}{{ month }}">{{ year }}年{{ month}}月</option>
                    {% endifequal %}
                {% endfor %}
            </select>
            <input type="submit" value="Filter" />
            <a href="{% url 'admin:eb_project_add' %}?from=portal&_popup=1" class="button" target="_blank">案件を追加</a>
        </form>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width: 320px;">
                    {% if dict_order.name.is_in_ordering %}
                        <div class="sortoptions">
                            <a class="sortremove" href="?o={{ dict_order.name.url_list_removed }}{{ params }}"></a>
                            <span class="sortpriority">{{ dict_order.name.priority }}</span>
                            <a class="{% if dict_order.name.is_asc %}descending{% else %}ascending{% endif %}"
                               href="?o={{ dict_order.name.url }}{{ params }}"></a>
                        </div>
                    {% endif %}
                    <div class="text">
                        <a href="?o={{ dict_order.name.url }}{{ params }}">案件名称</a>
                    </div>
                    <div class="clear"></div>
                </th>
                <th style="width: 220px;">
                    {% if dict_order.client__name.is_in_ordering %}
                        <div class="sortoptions">
                            <a class="sortremove" href="?o={{ dict_order.client__name.url_list_removed }}{{ params }}"></a>
                            <span class="sortpriority">{{ dict_order.client__name.priority }}</span>
                            <a class="{% if dict_order.client__name.is_asc %}descending{% else %}ascending{% endif %}"
                               href="?o={{ dict_order.client__name.url }}{{ params }}"></a>
                        </div>
                    {% endif %}
                    <div class="text">
                        <a href="?o={{ dict_order.client__name.url }}{{ params }}">関連会社</a>
                    </div>
                    <div class="clear"></div>
                </th>
                <th>メンバー(一部)</th>
                <th>注文書情報</th>
                <th></th>
                <th style="width: 150px;"></th>
            </tr>
        </thead>
        <tbody>
            {% if projects %}
                {% for project, order in projects %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>
                            <div style="width: 320px; overflow: hidden; white-space: nowrap;">
                                <a href="{% url 'project_detail' project.pk %}" title="{{ project.name }}">{{ project.name }}</a>
                            </div>
                        </td>
                        <td>
                            <div style="width: 220px; overflow: hidden; white-space: nowrap;">
                                <a title="{{ project.client.name }}">{{ project.client.name }}</a>
                            </div>
                        </td>
                        <td>
                            {% for project_member in project.projectmember_set.all|slice:'2' %}
                                <span>{{ project_member }}</span>;
                            {% endfor %}
                        </td>
                        {% if order %}
                            <td><img width="12px" src="/static/img/icon-normal.png"/></td>
                            <td class="center">
                                <a href="{% url 'admin:eb_clientorder_change' order.pk %}?project_id={{ project.pk }}&from=portal&_popup=1" target="_blank">編集</a>
                            </td>
                            <td class="center">
                                <a href="javascript:download_request({{ project.pk }}, '{{ order.order_no }}', '{{ order.name }}', '{{ order.bank_info.pk }}')" target="_blank">請求書ダウンロード</a>
                            </td>
                        {% else %}
                            <td><img width="12px" src="/static/img/icon-warn.png"/></td>
                            <td class="center">
                                <a href="{% url 'admin:eb_clientorder_add' %}?project_id={{ project.pk }}&from=portal&_popup=1" target="_blank">追加</a>
                            </td>
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="row1"><td class="center red" colspan="9">該当する案件がありません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">
                    <div class="pagination">
                        <span class="step-links">
                            {% if projects.has_previous %}
                                <a href="?page={{ projects.previous_page_number }}{{ params }}">&lt;</a>
                            {% endif %}

                            {% if paginator.page_range|length > 1 %}
                                {% for page in paginator.page_range %}
                                    {% ifequal page projects.number %}
                                        <span class="current">
                                            {{ page }}
                                        </span>
                                    {% else %}
                                        <a href="?page={{ page }}{{ params }}{{ orders }}">{{ page }}</a>
                                    {% endifequal %}
                                {% endfor %}
                            {% endif %}

                            {% if projects.has_next %}
                                <a href="?page={{ projects.next_page_number }}{{ params }}">&gt;</a>
                            {% endif %}
                            <span>{{ paginator.count }} 件</span>
                        </span>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}