{% extends "base.html" %}
{% load humanize %}

{% block header %}
    <script type="text/javascript">
        window.onload = function() {
            init_select("project__name__contains");
            init_select("project__client__name__contains");
            init_select("ym");
            init_select("project__projectrequest__request_no__contains");
            init_select("clientorder__order_no__contains");
        };
    </script>
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">なにをしたいのですか？</div>
        <form action="" method="get">
            <span>案件名称: </span><input type="text" id="project__name__contains" name="project__name__contains" style="width: 100px;"/>
            <span>関連会社: </span><input type="text" id="project__client__name__contains" name="project__client__name__contains" style="width: 100px;"/>
            <span>請求番号: </span><input type="text" id="project__projectrequest__request_no__contains" name="project__projectrequest__request_no__contains" maxlength="7" style="width: 60px;"/>
            <span>注文番号: </span><input type="text" id="clientorder__order_no__contains" name="clientorder__order_no__contains" style="width: 80px;"/>
            <label for="ym">対象年月</label>
            <select name="ym" id="ym">
                {% for year, month in month_list %}
                    {% ifequal year current_year %}
                        {% ifequal month current_month %}
                            <option selected="selected" value="{{ year }}{{ month }}">{{ year }}年{{ month}}月</option>
                        {% else %}
                            <option value="{{ year }}{{ month }}">{{ year }}年{{ month}}月</option>
                        {% endifequal %}
                    {% else %}
                        <option value="{{ year }}{{ month }}">{{ year }}年{{ month}}月</option>
                    {% endifequal %}
                {% endfor %}
            </select>
            <input type="submit" value="Filter" />
            <a href="{% url 'project_order_list' %}?ym={{ ym }}">クリア</a>
            <a href="{% url 'admin:eb_project_add' %}?from=portal&_popup=1" class="button" target="_blank">案件を追加</a>
        </form>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width: 320px;">
                    {% if dict_order.project__name.is_in_ordering %}
                        <div class="sortoptions">
                            <a class="sortremove" href="?o={{ dict_order.project__name.url_list_removed }}{{ params }}"></a>
                            <span class="sortpriority">{{ dict_order.project__name.priority }}</span>
                            <a class="{% if dict_order.project__name.is_asc %}descending{% else %}ascending{% endif %}"
                               href="?o={{ dict_order.project__name.url }}{{ params }}"></a>
                        </div>
                    {% endif %}
                    <div class="text">
                        <a href="?o={{ dict_order.project__name.url }}{{ params }}">案件名称</a>
                    </div>
                    <div class="clear"></div>
                </th>
                <th style="width: 220px;">
                    {% if dict_order.project__client__name.is_in_ordering %}
                        <div class="sortoptions">
                            <a class="sortremove" href="?o={{ dict_order.project__client__name.url_list_removed }}{{ params }}"></a>
                            <span class="sortpriority">{{ dict_order.project__client__name.priority }}</span>
                            <a class="{% if dict_order.project__client__name.is_asc %}descending{% else %}ascending{% endif %}"
                               href="?o={{ dict_order.project__client__name.url }}{{ params }}"></a>
                        </div>
                    {% endif %}
                    <div class="text">
                        <a href="?o={{ dict_order.project__client__name.url }}{{ params }}">関連会社</a>
                    </div>
                    <div class="clear"></div>
                </th>
                <th>
                    {% if dict_order.clientorder__order_no.is_in_ordering %}
                        <div class="sortoptions">
                            <a class="sortremove" href="?o={{ dict_order.clientorder__order_no.url_list_removed }}{{ params }}"></a>
                            <span class="sortpriority">{{ dict_order.clientorder__order_no.priority }}</span>
                            <a class="{% if dict_order.clientorder__order_no.is_asc %}descending{% else %}ascending{% endif %}"
                               href="?o={{ dict_order.clientorder__order_no.url }}{{ params }}"></a>
                        </div>
                    {% endif %}
                    <div class="text">
                        <a href="?o={{ dict_order.clientorder__order_no.url }}{{ params }}">注文番号</a>
                    </div>
                    <div class="clear"></div>
                </th>
                <th>
                    {% if dict_order.project__projectrequest__request_no.is_in_ordering %}
                        <div class="sortoptions">
                            <a class="sortremove" href="?o={{ dict_order.project__projectrequest__request_no.url_list_removed }}{{ params }}"></a>
                            <span class="sortpriority">{{ dict_order.project__projectrequest__request_no.priority }}</span>
                            <a class="{% if dict_order.project__projectrequest__request_no.is_asc %}descending{% else %}ascending{% endif %}"
                               href="?o={{ dict_order.project__projectrequest__request_no.url }}{{ params }}"></a>
                        </div>
                    {% endif %}
                    <div class="text">
                        <a href="?o={{ dict_order.project__projectrequest__request_no.url }}{{ params }}">請求番号</a>
                    </div>
                    <div class="clear"></div>
                </th>
                <th>請求金額</th>
                <th style="width: 30px;"></th>
            </tr>
        </thead>
        <tbody>
            {% if project_orders %}
                {% for project, project_request, order in project_orders %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>
                            <div style="width: 320px; overflow: hidden; white-space: nowrap;">
                                <a href="{% url 'project_detail' project.pk %}" title="{{ project.name }}">{{ project.name }}</a>
                            </div>
                        </td>
                        <td>
                            <div style="width: 220px; overflow: hidden; white-space: nowrap;">
                                <a title="{{ project.client.name }}">{{ project.client.name }}</a>
                            </div>
                        </td>
                        {% if order %}
                            <td>{{ order.order_no }}</td>
                            {% if project_request.pk %}
                                <td><a href="{% url 'view_project_request' project_request.pk %}">{{ project_request.request_no }}</a></td>
                                <td style="text-align: right;">
                                    {% if project_request.amount %}
                                        {{ project_request.amount|intcomma }}
                                    {% else %}
                                        {{ project_request.amount|intcomma }}
                                    {% endif %}
                                </td>
                            {% else %}
                                <td colspan="2"><img width="12px" src="/static/img/icon-warn.png"/></td>
                            {% endif %}
                            <td class="center">
                                <a href="{% url 'admin:eb_clientorder_change' order.pk %}?project_id={{ project.pk }}&from=portal&_popup=1" target="_blank">編集</a>
                            </td>
                        {% else %}
                            <td colspan="2"><img width="12px" src="/static/img/icon-warn.png"/></td>
                            <td class="center">
                                <a href="{% url 'admin:eb_clientorder_add' %}?project_id={{ project.pk }}&from=portal&_popup=1" target="_blank">追加</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="row1"><td class="center red" colspan="6">該当する案件がありません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <div class="pagination">
                        <span class="step-links">
                            {% if project_orders.has_previous %}
                                <a href="?page={{ project_orders.previous_page_number }}{{ params }}{{ orders }}">&lt;</a>
                            {% endif %}

                            {% if paginator.page_range|length > 1 %}
                                {% for page in paginator.page_range %}
                                    {% ifequal page project_orders.number %}
                                        <span class="current">
                                            {{ page }}
                                        </span>
                                    {% else %}
                                        <a href="?page={{ page }}{{ params }}{{ orders }}">{{ page }}</a>
                                    {% endifequal %}
                                {% endfor %}
                            {% endif %}

                            {% if project_orders.has_next %}
                                <a href="?page={{ project_orders.next_page_number }}{{ params }}{{ orders }}">&gt;</a>
                            {% endif %}
                            <span>{{ paginator.count }} 件</span>
                        </span>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}