{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">なにをしたいのですか？</div>
        <form action="" method="get">
            <a href="/admin/eb/project/{{ project.id }}/" target="_blank" class="button">案件を編集</a>
        </form>
    </div>
    <table class="detail" cellpadding="0" cellspacing="0">
        <tr>
            <th>案件名称</th><td>{{ project.name }}</td>
            <th>関連会社</th><td>{{ project.client.name }}</td>
        </tr>
        <tr>
            <th>顧客責任者</th><td>{{ project.boss.name }}</td>
            <th>顧客連絡者</th><td>{{ project.middleman.name }}</td>
        </tr>
        <tr>
            <th>作業場所</th><td colspan="3">{{ project.address }}</td>
        </tr>
        <tr>
            <th>開始日付</th><td>{{ project.start_date|date:"Y-m-d" }}</td>
            <th>終了日付</th><td>{{ project.end_date|date:"Y-m-d" }}</td>
        </tr>
        <tr style="height: 70px;">
            <th valign="top">概要</th><td colspan="3" valign="top">{{ project.description }}</td>
        </tr>
        <tr style="height: 70px;">
            <th valign="top">スキル要求</th>
            <td colspan="3" valign="top">
                {% for project_skill in project.projectskill_set.all %}
                    <div>{{ project_skill.skill.name }}, {{ project_skill.get_period_display }}, {{project_skill.description }}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>アサイン人数</th>
            <td><a href="{% url 'project_members' project.project_id %}">{{ project.get_project_members.count }}</a></td>
            <th>状態</th>
            <td>
                {% ifequal project.status.id 1 %}
                    <span class="red">{{ project.status.name }}</span>
                    <a href="{% url 'recommended_member' project.project_id %}" class="right">推薦されるメンバーズ</a>
                {% else %}
                    {{ project.status.name }}
                {% endifequal %}
            </td>
        </tr>
    </table>
    <div class="dashboard">
        <div class="dashboard-title">営業活動</div>
        <form action="" method="get">
            <a href="/admin/eb/projectactivity/add/?project_id={{ project.project_id }}"
               target="_blank" class="button">活動を追加</a>
        </form>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>活動名称</th>
                <th style="width: 130px;">活動日時</th>
                <th>活動場所</th>
                <th>活動内容</th>
                <th>参加者</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>活動名称</th>
                <th>活動日時</th>
                <th>活動場所</th>
                <th>活動内容</th>
                <th>参加者</th>
                <th></th>
            </tr>
        </tfoot>
        {% if project.projectactivity_set.all %}
            {% for project_activity in project.projectactivity_set.all %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{ project_activity.name }}</td>
                    <td>{{ project_activity.open_date|date:"Y-m-d h:i" }}</td>
                    <td>{{ project_activity.address }}</td>
                    <td>{{ project_activity.content }}</td>
                    <td>
                        {% for client_member in project_activity.client_members.all %}
                            {{ client_member.name }},
                        {% endfor %}
                        {% for salesperson in project_activity.salesperson.all %}
                            {{ salesperson.name }},
                        {% endfor %}
                        {% for member in project_activity.members.all %}
                            {{ member.name }},
                        {% endfor %}
                    </td>
                    <td class="center">
                        <a href="/admin/eb/projectactivity/{{ project_activity.pk }}/" target="_blank">編集</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="row1"><td colspan="5" class="center red">まだ何の活動情報もありません。</td></tr>
        {% endif %}
    </table>
{% endblock %}