{% extends "base.html" %}
{% load humanize %}
{% load order_by_tag %}

{% block header %}
{% endblock %}

{% block content %}
{% now 'Y-m-d' as today %}
    <div class="dashboard">
        <div class="dashboard-title">{{ title }}</div>
        <form action="" method="get">
            <a href="?">すべて</a>&nbsp;|&nbsp;
            <a href="?start_date__lte={{ today }}&end_date__gte={{ today }}">現在アサイン中</a>
            <a href="{% url 'admin:eb_projectmember_add' %}?project_id={{ project.pk }}&from=portal&_popup=1"
               target="_blank" class="button">要員をアサイン</a>
        </form>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>{% create_order_display "案件名称" "" %}</th>
                <th>{% create_order_display "名前" "member__first_name" %}</th>
                <th>{% create_order_display "所属" "" %}</th>
                <th>{% create_order_display "稼働開始日" "start_date" %}</th>
                <th>{% create_order_display "稼働終了日" "end_date" %}</th>
                <th>{% create_order_display "単価" "" %}</th>
                <th>{% create_order_display "備考" "" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if project_members %}
                {% for project_member in project_members %}
                    <tr class="{% cycle 'row1' 'row2' %}
                               {% if project_member.is_in_past %}expired{% endif %}">
                        <td><a href="{% url 'project_detail' project.pk%}">{{ project_member.project }}</a></td>
                        <td>
                            <a href="{% url 'member_detail' project_member.member.employee_id %}">
                                {{ project_member.member }}
                            </a>
                        </td>
                        <td>{{ project_member.member.get_section }}</td>
                        <td>{{ project_member.start_date|date:"Y-m-d" }}</td>
                        <td>{{ project_member.end_date|date:"Y-m-d" }}</td>
                        <td>{{ project_member.price|intcomma }}</td>
                        <td class="center">
                            {% if project_member.member.is_retired %}
                                退職
                            {% else %}
                                {% if not project_member.member.is_on_sales %}
                                    {{ project_member.member.sales_off_reason }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="center"><a href="{% url 'admin:eb_projectmember_change' project_member.id %}?from=portal&_popup=1" target="_blank">編集</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="row2">
                    <td class="center red" colspan="8">
                        プロジェクト<b>「{{ project.name }}」</b>に誰もアサインしてありません。
                    </td>
                </tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pagination">
                        <span class="step-links">
                            {% if project_members.has_previous %}
                                <a href="?page={{ project_members.previous_page_number }}{{ params }}">&lt;</a>
                            {% endif %}

                            {% if paginator.page_range|length > 1 %}
                                {% for page in paginator.page_range %}
                                    {% ifequal page project_members.number %}
                                        <span class="current">
                                            {{ page }}
                                        </span>
                                    {% else %}
                                        <a href="?page={{ page }}{{ params }}">{{ page }}</a>
                                    {% endifequal %}
                                {% endfor %}
                            {% endif %}

                            {% if project_members.has_next %}
                                <a href="?page={{ project_members.next_page_number }}{{ params }}">&gt;</a>
                            {% endif %}
                            <span>{{ paginator.count }} 件</span>
                        </span>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}