{% extends "base.html" %}

{% block header %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjzwjBMykNJikl12HQOuWsYxMmozvkhVU&signed_in=true" type="text/javascript"></script>
<script type="text/javascript">
    window.onload = function() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: {lat: 35.397, lng: 139.644}
        });

        var geocoder = new google.maps.Geocoder();
        {% for member in members %}
            geocoder.geocode(
                {
                    'address': '{{ member.address1 }}{% if member.address2 %}{{ member.address2 }}{% endif %}',
                    'region': 'jp'
                },
                function(results, status){
                    if(status == google.maps.GeocoderStatus.OK){
                        //処理
                        latlng = results[0].geometry.location;
                        $.ajax({
                            type:'post',
                            url:'{% url "sync_coordinate" %}',
                            data:{'lat': latlng.lat(),
                                  'lng': latlng.lng(),
                                  'member_id': {{ member.pk }},
                                  'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val() },
                            cache:false,
                            async : false, //默认为true 异步
                            dataType:'json',
                            success:function(data){
                                if (data.result == true) {
                                    per = parseFloat($("#index").text()) * (800 / {{ count }});
                                    $("#progress").css('width', per + "px");
                                }
                            }
                        });
                    }
                }
            );

            // 進捗を更新する。
            $("#index").text({{ forloop.counter }});
        {% endfor %}
    }
</script>

{% endblock %}

{% block content %}
<div id="map"></div>
{% csrf_token %}
<div style="margin: 7px 0px; background-color: white; padding: 5px 0px;">
    <table cellspacing="0" cellpadding="0" width="800px" style="margin: 2px auto;">
        <tr>
            <td>進捗情報</td>
            <td style="text-align: right;"><span id="index">0</span>／<span id="count">{{ count }}</span></td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="width: 800px; height: 30px; border: 1px solid gray;">
                    <div id="progress" style="background-color: blue; width: 0px; height: 30px;"></div>
                </div>
            </td>
        </tr>
    </table>
</div>
<table>
    <thead>
        <tr>
            <th>名前</th>
            <th>生年月日</th>
            <th>住所１</th>
            <th>住所２</th>
        </tr>
    </thead>
    {% if members %}
        {% for member in members %}
            <tbody>
                <tr>
                    <td>{{ member.first_name }}&nbsp;{{ member.last_name }}</td>
                    <td>{{ member.birthday }}</td>
                    <td>{{ member.address1 }}</td>
                    <td>{{ member.address2 }}</td>
                </tr>
            </tbody>
        {% endfor %}
    {% else %}
        <tr>
            <td>成功しました。</td>
        </tr>
    {% endif %}
</table>
{% endblock %}
