{% extends "base.html" %}
{% load humanize %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="dashboard print">
        <div class="dashboard-title">{{ section }} の売上情報</div>
    </div>
    <table id="tbl_sections_monthly" class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>部署</th>
                <th>案件名称</th>
                <th>営業担当</th>
                <th>売上（税別）</th>
                <th>税金</th>
                <th>精算</th>
                <th>合計</th>
            </tr>
        </thead>
        <tbody>
            {% if members_turnover %}
                {% for member_turnover in members_turnover %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>
                            <a href="{% url 'member_detail' member_turnover.project_member.member.pk %}">{{ member_turnover.project_member.member }}</a>
                        </td>
                        <td>
                            <a href="{% url 'project_detail' member_turnover.project_member.project.pk %}">
                            {{ member_turnover.project_member.project }}
                            </a>
                        </td>
                        <td>{{ member_turnover.project_member.member.salesperson }}</td>
                        <td style="text-align: right">
                            {{ member_turnover.attendance_amount|intcomma }}
                        </td>
                        <td style="text-align: right">
                            {{ member_turnover.attendance_tex|intcomma }}
                        </td>
                        <td style="text-align: right">
                            {{ member_turnover.expenses_amount|intcomma }}
                        </td>
                        <td style="text-align: right">
                            {{ member_turnover.all_amount|intcomma }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="row1"><td class="center red" colspan="7">『{{ section }}』にメンバーがいません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td style="text-align: right"> {{ summary.attendance_amount|intcomma }}</td>
                <td style="text-align: right"> {{ summary.attendance_tex|intcomma }}</td>
                <td style="text-align: right"> {{ summary.expenses_amount|intcomma }}</td>
                <td style="text-align: right"> {{ summary.all_amount|intcomma }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}