{% extends "base.html" %}
{% load humanize %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">{{ ym }} のお客様別の売上情報</div>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>お客様名称</th>
                <th>売上（税別）</th>
                <th>税金</th>
                <th>精算</th>
                <th>合計</th>
            </tr>
        </thead>
        <tbody>
            {% if clients_turnover %}
                {% for client_turnover in clients_turnover %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>
                            <a href="{% url 'turnover_client_monthly' client_turnover.client.pk ym %}">{{ client_turnover.client.name }}</a>
                        </td>
                        <td style="text-align: right">{{ client_turnover.attendance_amount|intcomma }}</td>
                        <td style="text-align: right">{{ client_turnover.attendance_tex|intcomma }}</td>
                        <td style="text-align: right">{{ client_turnover.expenses_amount|intcomma }}</td>
                        <td style="text-align: right">{{ client_turnover.all_amount|intcomma }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="row1"><td class="center red" colspan="5">売上情報がありません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td>{{ clients_turnover|length }} 件</td>
                <td style="text-align: right"> {{ summary.attendance_amount|intcomma }}</td>
                <td style="text-align: right"> {{ summary.attendance_tex|intcomma }}</td>
                <td style="text-align: right"> {{ summary.expenses_amount|intcomma }}</td>
                <td style="text-align: right"> {{ summary.all_amount|intcomma }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}